.callout-buttons-section {
  margin-top: -22px;
  clear: both;
}

.callout-button-row {
  padding: 15px 0 10px;
  padding-bottom: 4px;
  text-align: center;
  background-color: #f0f0f0;

  @media ( max-width: 480px ) {
    padding: 15px 0;
  }
  @media ( min-width: 481px ) and ( max-width: 1079px ) {
    padding: 15px 0;
  }
  @media ( max-width: 1449px ) and ( min-width: 1080px ) {
    padding: 15px 0 10px;
  }
  @media ( max-width: 1949px ) and ( min-width: 1450px ) {
    padding: 15px 0;
  }
  @media ( min-width: 1950px ) {
    padding: 25px 0;
  }


  @media ( min-width: 769px ) {
    background-color: #fff;
  }
}

.callout-button-heading {
  margin: 0;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Gotham Black';
  margin-bottom: 0;

  @media ( min-width: 769px ) {
    margin-bottom: inherit;
  }

  @media (max-width: 1949px) and (min-width: 1751px) {
    font-size: 2.9rem;
  }

  @media (min-width: 1950px) {
    font-size: 4rem;
  }
}

.callout-button-subheading {
  margin: 0;
  font-size: 2.2rem;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Gotham Black';


  @media ( min-width: 769px ) {
    font-size: 3.0rem;
  }
}

.callout-button-text {
  font-family: 'Gotham Medium';
  font-weight: 500;
  text-transform: capitalize;
  font-size: 1.6rem;

  @media ( max-width: 480px ) {
    margin: 0;
  }
  @media ( min-width: 481px ) and ( max-width: 1079px ) {
    margin: 0;
  }
  @media ( max-width: 1449px ) and ( min-width: 1080px ) {
    margin: 0;
  }
  @media ( max-width: 1949px ) and ( min-width: 1450px ) {
    margin: 10px 0 5px;
  }

  @media (max-width: 1949px) and (min-width: 1751px) {
    font-size: 2rem;
  }

  @media ( min-width: 1950px ) {
    font-size: 3.6rem;
    margin: 5px 0 5px;
  }
}

.callout-button-list {

}

.callout-button-list-item {
  display: inline-block;
  margin: 0 3px 5px;
  border: 2px solid #1d1d1d;

  @media ( max-width: 495px ) {
    width: 100%;
    max-width: 170px;
  }
  @media ( min-width: 769px ) {
    margin: 0 5px 3px;
  }

  a {
    color: #1d1d1d;
    display: block;
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: all .5s ease;
    padding: 6px 50px;

    @media (max-width: 1949px) and (min-width: 1751px) {
      font-size: 1.7rem;
      padding: 10px 60px;
    }

    @media (min-width: 1950px) {
      font-size: 2.5rem;
      padding: 15px 90px;
    }

    &:hover {
      background-color: #1d1d1d;
      color: #fff;
      transition: all .5s ease;
    }
  }
}