.footer-bottom {
  padding: 20px 0 0;

  .container {
    max-width: 100%;
    padding: 0;
  }
}

.footer-logo-container {
  border-width: 5px 0 1px;
  border-color: #000;
  border-style: solid;
}

.footer-logo__img {
  max-width: 130px;
  padding: 10px 20px;
  margin: auto;

  @media ( min-width: 769px ) {
    max-width: 1600px;
    padding-left: 20px;
  }

  @media ( min-width: 1600px ) {
    padding-left: 0;
  }

  img {
    display: block;
    max-width: 130px;

    @media ( min-width: 769px ) {

    }
  }
}

.footer-info-section {
  background-color: #f0f0f0;
  padding: 20px;

  @media ( min-width: 769px ) {
    padding: 40px 20px;
  }
}

.footer-info-container {

  @media ( min-width: 769px ) {
    max-width: 1600px;
    margin: 0 auto;
  }
}

.footer-info-content-container {
  display: flex;
  flex-direction: column;

  @media ( min-width: 769px ) {
    flex-direction: inherit;
  }
}

.footer-info-content__block {
  margin-bottom: 20px;


  &:nth-child(2) {
    order: 1;

    @media ( min-width: 769px ) {
      order: 0;
      flex: 25%;
      margin-right: 30px;
    }
  }

  &:nth-child(1) {
    order: 2;

    @media ( min-width: 769px ) {
      order: 0;
      flex: 75%;
    }
  }
}

.footer-info__title {
  font-family: 'Gotham Black';
  margin-top: 0;
  font-size: 1.3rem;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.footer-info__links-container {
  display: flex;
}

.footer-info__links-menu {
  flex: 50%;

  li {

    a {
      font-size: 1.2rem;
      color: #5a5a5a;
      line-height: 2;
    }
  }
}

.footer-info__signup-text {
  font-size: 1.1rem;
  margin-top: 15px;

  a {
    text-decoration: underline;
  }
}

.footer-info__extra-text {
  font-family: 'Gotham Black';
  margin-top: 25px;
  font-size: 1.3rem;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.footer-info__extra-footer-menu {
  text-align: center;

  li {
    font-size: 1.1rem;
    line-height: 1.7;

    @media ( min-width: 480px ) {
      display: inline-block;
      padding: 0 10px;
      line-height: 1;
      border-right: solid 1px;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        border-right: none;
      }
    }

    a {

    }
  }

  @media ( min-width: 480px ) {
    text-align: inherit;
  }
}

.footer-info-content__inner-block-container {
  display: flex;
  flex-direction: column;

  @media ( min-width: 480px ) {
    flex-direction: inherit;
  }
}

.footer-info-content__inner-block {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  @media ( min-width: 480px ) {
    flex: 50%;
  }
}

.block.newsletter {
  margin-top: 0px;

  > .content {
    display: block;
    max-width: 100%;

    .actions {
      flex: 1 1 25%;
    }
  }

  .action.subscribe {

    &:before {
      display: none;
    }

    span {
      display: inherit;
    }

  }

  .form.subscribe {
    display: flex;

    .actions {

    }

    button.action.subscribe.primary {
      background-color: transparent;
      border: 2px solid #333;
      color: #333;
      width: 100%;
      max-width: 100%;
      text-transform: uppercase;
      position: relative;
      font-family: 'Open Sans';
      font-weight: 700;
      transition: border-color 500ms, background-color 500ms;

      &:hover {
        background-color: #fff;
        border-color: #fff;
        transition: border-color 500ms, background-color 500ms;
      }

      span {

      }
    }

  }

  .control input {
    padding: 10px;
    border: 1px solid #333;
  }
}

.field.newsletter {
  flex: 1 1 75%;
  margin-right: 15px;

  .label {

    span {
      display: none;
    }
  }

  .control {

  }

  #newsletter {

  }
}
