.fullwidth-triple-product-section {

}

.fullwidth-triple-product__container {
  position: relative;
	display: flex;
	overflow: hidden;

  .owl-stage {
    display: flex;
  }

  .owl-nav {
    position: absolute;
    top: 32%;
    width: 100%;
    transform: translateY(-50%);
  }

  .owl-prev {
    float: left;
    background: transparent !important;
    color: transparent !important;

    &:after {
      content: '';
      border-bottom: 6px solid;
      border-left: 6px solid;
      transform: rotate(45deg);
      left: 30px;
      width: 48px;
      height: 48px;
      border-color: #fff;
      position: absolute;
      top: 50%;
      opacity: 1;
      transition: border-color 500ms;

      &:hover {
        border-color: #fff;
        transition: border-color 500ms;
      }
    }
  }

  &:hover .owl-prev:after,
  &:hover .owl-next:after {
    border-color: #929191;
    transition: border-color 500ms;
  }

  .owl-next {
    float: right;
    background: transparent !important;
    color: transparent !important;

    &:after {
      content: '';
      border-bottom: 6px solid;
      border-left: 6px solid;
      transform: rotate(-135deg);
      right: 30px;
      width: 48px;
      height: 48px;
      border-color: #fff;
      position: absolute;
      top: 50%;
      opacity: 1;
      transition: opacity 500ms;

      @media ( max-width: 768px ) {
        opacity: 1;
        right: 25px;
        border-color: #fff;
      }
    }
  }

  .owl-dots {
    display: none;
  }
}

a.fullwidth-triple-product__item-block {
  color: #333;
  display: block;

  &:hover {
    color: #333;
  }

  &:hover div.fullwidth-triple-product__overlay {
    opacity: 1;
    transition: opacity 500ms;
  }
}

div.fullwidth-triple-product__img {
  position: relative;

  img {
    display: block;
  }
}

div.fullwidth-triple-product__overlay {
  position: absolute;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  top: 0;
  width: 100%;
  text-align: center;
  opacity: 0;
  transition: opacity 500ms;
}

span.fullwidth-triple-product__shop-now {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  padding: 11.5px 20px;
  border: 2px solid #fff;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  display: inline-block;
  text-transform: uppercase;
  transform: translateY(-50%);
  position: relative;
  top: 50%;
  transition: background-color 500ms, color 500ms;

  &:hover {
    background-color: #fff;
    color: #333;
    transition: background-color 500ms, color 500ms;
  }
}

div.fullwidth-triple-product__description {

}

h4.fullwidth-triple-product__title {
  font-family: 'Open Sans';
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 3px;
}

p.fullwidth-triple-product__text {
  text-align: center;
  font-family: 'Open Sans';
  margin-top: 0;

}

.product-item-header > a,
.feature-product-section .product-item-info > a,
.shop-now-overlay .product-item-info > a {

  &:hover div.fullwidth-triple-product__overlay {
    opacity: 1;
  }
}

.fullwidth-triple-product__container > .fullwidth-triple-product__item-block {
  min-width: 23%;
  display: inline-block;
  float: left;
}
.fullwidth-triple-product__item-block + .fullwidth-triple-product__item-block {
  margin-left: 4%;
}

.fullwidth-triple-product__container .owl-nav {
  @media ( min-width: 1081px ) {
    display: none;
  }
}