.landing-page-section {
  background-color: #f0f0f0;
  padding-bottom: 80px;
}

.landing-page-container {

}

.landing-page__title {
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Gotham Black';
  font-size: 3rem;
  text-align: center;
  margin-top: 0;
  padding-top: 60px;
}

.landing-page__text {
  font-family: 'Gotham Medium';
  font-weight: 500;
  text-transform: capitalize;
  font-size: 1.8rem;
  text-align: center;
  padding-bottom: 40px;
}

.landing-page__content-container {

  @media ( min-width: 769px ) {
    display: flex;
  }

  @media ( min-width: 1025px ) {
    max-width: 1200px;
    margin: 0 auto;
  }

  @media ( min-width: 1650px ) {
    max-width: 1400px;

  }
}

.landing-page__block {
  display: block;
  color: #333;
  margin-bottom: 50px;

  @media ( min-width: 769px ) {
    margin-right: 24px;
    margin-bottom: 0;
    flex-basis: 33.3333%;
  }

  &:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }

  &:hover {
    color: #333;
  }

  &:hover .landing-page__overlay {
    opacity: 1;
    transition: opacity 500ms;
  }
}

.landing-page__image {
  position: relative;

  img {
    display: block;
  }
}

.landing-page__overlay {
  position: absolute;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  width: 100%;
  text-align: center;
  opacity: 0;
  transition: opacity 500ms;
}

.landing-page__block__text {
  text-align: center;
  font-size: 1.6rem;
  font-family: 'Gotham Medium';
  font-weight: 500;
}