.magemenu-menu.horizontal-menu {

  ul.explodedmenu {

    @media ( min-width: 1081px ) {
      display: flex;
      justify-content: center;
    }

    li.menu {

      &:hover > a {

        @media ( min-width: 1081px ) {

        }
        background-color: inherit;
      }

      &:hover > a > span {
        color: #333;
      }

      > a {
        padding: 4px 6px 4px;

        @media ( max-width: 1080px ) {
          padding: 14px;
          border-bottom: 1px solid #333;
        }

        @media (min-width: 1319px) {
          padding: 4px 16px 4px;
        }



        > span {
          font-weight: 600 !important;
          font-family: 'Arial';
          font-size: 1.2rem;

          @media ( max-width: 1080px ) {
            font-size: 1.5rem;
          }

          @media ( min-width: 1399px ) {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}

.magemenu-menu {

  li.menu {

    > div {

      @media ( max-width: 1080px ) {
        position: inherit;
      }

      max-width: 100%;
      top: 100%;
      z-index: 10;

      > div.menu-box {
        border-top: 1px solid #cccccc;
        background: rgba(255, 255, 255, .9);

        @media ( max-width: 1080px ) {
          visibility: visible !important;
          opacity: 1 !important;
          margin-top: 0 !important;
          border-top: 0 !important;
          background: inherit !important;
          box-shadow: none !important;
          border-bottom: 22px solid grey;
        }
      }
    }
  }
}

.navigation li {

  &:hover {

    @media ( min-width: 1081px ) {
      border-bottom: 3px solid #000;
      border-top: 3px solid transparent;
    }
  }

  @media ( min-width: 1081px ) {
    position: static;
    min-height: 43px;
    align-items: center;
    display: flex;
    margin-bottom: 0;
  }
}

.magemenu-menu li.menu > div > div.menu-box {
  display: none;
}


.magemenu-menu li.menu:hover > div > div.menu-box {
  display: block;
}



//Mobile

.navigation {

  @media ( max-width: 1080px ) {
    display: block;
  }
}

.nav-sections-item-title {

  @media ( max-width: 1080px ) {
    font-size: 2rem;
    text-align: left;
    padding-left: 16px;
  }
}

.nav-sections-item-content {

  @media ( max-width: 1080px ) {
    text-align: left;
    padding: 0;
    border-top: 1px solid #000;
  }
}

.magemenu-menu li.menu > div > div.menu-box * {

  @media ( max-width: 1080px ) {
    text-align: left;
    float: none;
  }
}

a.nav-sections-item-switch {
  color: #000;
}

ul.itemsubmenu  {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  visibility: visible;
  opacity: 1;

  > li.subparent {
    font-weight: 600;
    display: block;
    min-height: inherit;
    float: none !important;
    position: relative;
    width: 100%;

    a:after {
      @media ( max-width: 1080px ) {
        float: right;
        content: '>';
        width: 30px;
        z-index: 999;
      }
    }

  }
}

.parentMenu:before {

  @media ( max-width: 1080px ) {
    float: right;
    content: '>';
    width: 30px;
    z-index: 999;
    top: 17px;
    position: relative;
  }
}

.subparent {

  .itemsubmenu {
    margin-left: inherit;
    visibility: visible;
    opacity: 1;
    padding: 0;
  }
}

.magemenu-menu ul.itemsubmenu li a {
  float: none !important;
  //text-align: center !important;
}

.magemenu-menu ul.itemsubmenu li:hover > a {
  background: none !important;
  color: #333 !important;
}

.magemenu-menu ul.itemsubmenu li {
  border-bottom: none;
  height: inherit !important;
}

.magemenu-menu ul.itemsubmenu .itemsubmenu a {

  &:after {
    content: none;
  }

}

.magemenu-menu ul.itemsubmenu .itemsubmenu span {
  font-weight: 300;
  color: #1d1d1d !important;
  text-transform: capitalize !important;

  @media ( max-width: 1080px ) {
    padding-left: 16px;
  }
}

.magemenu-menu ul.itemsubmenu .itemsubmenu li {
  border-top: none;
  border-bottom: none;

  &:hover span {
    color: #b4b4b4 !important;
  }
}

ul.itemsubmenu {
  visibility: visible !important;
  opacity: 1 !important;
  background: transparent !important;
  box-shadow: none !important;

  @media ( max-width: 1080px ) {
    padding: 0 !important
  }
}

.menu-box {

  .grid-child {

    @media ( max-width: 1080px ) {
      width: 100%;
    }
  }
}

.magemenu-menu ul.itemsubmenu li a {
  padding: 5px 0 !important;

  @media ( max-width: 1080px ) {


  }

}

.menu-box .block-main {

  @media ( min-width: 1081px ) {
    max-width: 930px !important;
    margin: auto;
    float: inherit;
  }
}

.magemenu-menu li.menu > div > div.menu-box .block-main.grid * {

  @media ( min-width: 1081px ) {
    text-align: center;
  }
}

.magemenu-menu ul.itemsubmenu .itemsubmenu {


  @media ( max-width: 1080px ) {
    display: none;
  }

  @media ( min-width: 1081px ) {
    display: block !important;
  }
}

.sale-link {
  color: #ff0000 !important;

  &:hover {
    color: #ff0000 !important;
  }
}

.sections.nav-sections, .sections.nav-sections .navigation {

  @media ( min-width: 1081px ) {
    background-color: #fff;
  }
}

.nav-open .overlay-nav {
  display: none !important;
}


@media ( max-width: 1080px ) {

  .page-wrapper {
    overflow: initial !important;
  }

  .sections.nav-sections {
    background-color: #fff;
  }
}
