// /**
//  * Copyright © 2018 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Rope theme overrides
//  _____________________________________________

//  Theme file should contain declarations (overrides) ONLY OF EXISTING variables
//  Otherwise this theme won't be available for parent nesting
//  All new variables should be placed in local theme lib or local theme files

//Owl carousel styling overrides.
//@import url(https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css);
@import url(https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/assets/owl.theme.default.min.css);


.homepage-slider-section, .preload-fake-slider {
  position: relative;

  .owl-dots {
    width: 100%;
    padding-top: 0;

    @media ( max-width: 768px ) {
      padding-top: 0;
      float: left;
      bottom: 0;
      position: relative;
    }

    @media ( min-width: 769px ) {
      //position: absolute;
      //bottom: 45px;
    }
  }

  .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #1d89e4;
  }


  img {

    @media ( max-width: 480px ) {
      max-height: 250px;
      height: 250px;
    }
    @media ( min-width: 481px ) and ( max-width: 736px ) {
      max-height: 265px;
      height: 265px;
    }
    @media ( min-width: 737px ) and ( max-width: 1025px ) {
      max-height: 450px;
      height: 450px;
    }

    @media ( min-width: 1026px ) and ( max-width: 1366px ) {
      max-height: 550px;
      height: 550px;
    }
    @media ( max-width: 1450px ) and ( min-width: 1367px ) {
      max-height: 495px;
      height: 495px;
    }
    @media ( max-width: 1750px ) and ( min-width: 1451px ) {
      max-height: 550px;
      height: 550px;
    }
    @media ( max-width: 1949px ) and ( min-width: 1751px ) {
      max-height: 700px;
      height: 650px;
    }
    @media ( min-width: 1950px ) {
      max-height: 1050px;
      height: 1050px;
    }
  }

  .owl-carousel .owl-item {

    img.mobile-slider-img {
      display: block;

      @media ( min-width: 481px ) {
        display: none;
      }
    }

    img.desktop-slider-img {
      display: none;

      @media ( min-width: 481px ) {
        display: block;
      }
    }
  }
}

.slider-link {
  position: relative;
  display: block;
}

.sticky-vaprzon-logo {
  width: 20.2%;
  z-index: 999999999999999999;
  position: absolute;
  bottom: 0;
  right: 0;

  img {
    height: inherit;
    max-width: inherit;
  }

  @media ( min-width: 769px ) {

  }
}

.stick-item {
  display: none;
  width: 20.2%;
  z-index: 999999999999999999;
  position: fixed;
  right: 0;
  margin-top: -90px;
}

.imagemap-container {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  display: flex;

  a {
    height: 100%;
    width: 50%;
    display: inline-block;
  }
}

// Luis Hack for Slider. Remove later
.preload-fake-slider {

  img {
    width: 100%;
    display: block;
  }

  img.mobile-slider-img {
    display: block;

    @media ( min-width: 481px ) {
      display: none;
    }
  }

  img.desktop-slider-img {
    display: none;

    @media ( min-width: 481px ) {
      display: block;
    }
  }
}



