// Move later on
.header.panel .customer-welcome {
  @media ( min-width: 769px ) {
    position: inherit;
  }
}

.header.panel .minicart-wrapper {

  @media ( min-width: 769px ) {
    position: inherit;
    margin-left: 8px;
    align-self: center;
    display: flex;
    margin-top: -7px;
  }

  @media ( min-width: 769px ) and ( max-width: 1080px ) {
    position: absolute;
    right: 20px;
    top: 11px;
  }
}


// The container Section
.header.panel {

  ul.header.links {
    display: none;
  }

  @media ( min-width: 769px ) {
    text-align: inherit;
    display: flex;
    padding: 0 30px;
  }

  @media ( min-width: 769px ) and ( max-width: 1080px ) {
    padding: 5px 30px;
  }
}

.page-header .header-top {

  @media ( min-width: 769px ) {
    padding: 0;
  }
}

//Logo Section
.logo {

  @media ( min-width: 769px ) {
    flex: 1;
    max-width: 160px;
    align-self: center;
  }

  img {

    @media ( min-width: 769px ) {
      width: 100%;
      max-width: 160px;
    }
  }

}

// Nav Section
.nav-toggle {

  @media ( max-width: 1080px ) {
    display: block;
  }

  @media ( min-width: 1081px ) {
    display: none;
  }
}

.nav-sections {

  @media ( min-width: 1081px ) {
    opacity: 1;
    visibility: visible;
    position: inherit;
    flex: 2;
  }
}

//Search Section
.block-search {

  @media ( min-width: 769px ) {
    flex: 1;
    max-width: 200px;
    align-self: center;
  }

  .ui-widget-content {

    @media ( min-width: 769px ) {
      display: inline-block !important;
      width: 80%;
    }

    @media ( min-width: 769px ) and ( max-width: 1080px ) {
      position: absolute;
      right: 15px;
      top: 4px;
      max-width: 200px;
    }
  }
}

.block-search .form.minisearch {
  margin: 0;

  @media ( max-width: 768px ) {
    display: none;
  }
}

div#switcher-block-search.active .form.minisearch {
  @media ( max-width: 768px ) {
    display: block;
  }
}

.block-search .action.search {

  @media ( min-width: 769px ) {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    right: 0;
    left: inherit;
    height: 98%;
    top: 1px;

  }
}

.block-search .action.search:before {


  @media ( min-width: 769px ) {
    font-size: 1.6rem;
  }
}

.block-search input {

  @media ( min-width: 769px ) {
    padding: 6px;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
  }
}

.header.panel .block-search .block-title {

  @media ( min-width: 769px ) {
    position: inherit;
    display: none;
  }
}

.block-search .dropdown {

  @media ( min-width: 769px ) {
    position: inherit;
    background-color: #fff;
  }
}

.block-search input {


  @media ( min-width: 769px ) {
    height: inherit;
    font-size: 1.3rem;
    font-family: inherit;
    background-color: #fff;
    text-transform: capitalize;
  }
}

.block-search input:hover, .block-search input:focus {


  @media ( min-width: 769px ) {
    border: inherit !important;
    border-top: 1px solid #000 !important;
    border-left: 1px solid #000 !important;
    border-bottom: 1px solid #000 !important;
  }

}

.block-search .ui-widget-content {

  @media ( min-width: 769px ) {
    width: 100%;
  }
}

//Mini Cart Section
.minicart-wrapper {

  @media ( min-width: 769px ) {
    flex: 1;
    max-width: 38px;
  }
}

body .minicart-wrapper .action.showcart:before,
body .minicart-wrapper .action.showcart.active:before {
  content: url('@{baseDir}images/shopping-cart-icon.svg') !important;

  @media ( min-width: 769px ) {
    top: 3px;
    position: relative;
  }
}

body[data-container="body"] .minicart-wrapper .action.showcart:before,
body[data-container="body"] .minicart-wrapper .action.showcart.active:before {
  content: url('@{baseDir}images/shopping-cart-icon.svg') !important;

  @media ( min-width: 769px ) {
    top: 3px;
    position: relative;
  }
}

.minicart-wrapper .action.showcart,
.minicart-wrapper .action.showcart.active {
  height: 31px;

  @media ( min-width: 769px ) {
    width: 31px;
  }
}

.mobile-only-account-icon {
  display: none;
  position: absolute;
  right: 57px;
  color: #333;

  &:before {
    font-family: "Simple-Line-Icons";
    content: "\e005";
    font-weight: 400;
    font-size: 26px;
    color: #333;
  }

  @media ( max-width: 768px ) {
    display: block;
  }
}

.block-search .block-title:before {
  font-size: 25px;
}

.navigation li {
  
  @media( max-width: 1080px ) {
    display: block;
  }
}