.product-widget-section.container {

  @media ( max-width: 768px ) {
    max-width: 600px;
  }

  @media ( min-width: 769px ) and ( max-width: 999px ) {
    max-width: 800px;
  }

  @media ( min-width: 1000px ) and ( max-width: 1320px ) {
    max-width: 1000px;
  }

  @media ( min-width: 1650px ) {
    max-width: 1400px;
  }

  @media ( min-width: 1880px ) {
    max-width: 1600px;
  }

  @media ( min-width: 1951px ) {
    max-width: 2100px;
  }
}



.product-widget-section {
  margin-top: 100px;
  padding: 0 0 30px;
  position: relative;

  .block-title {
    text-align: center;

    strong:before {
      display: none;
    }
  }

  .owl-item.active {
    //width: auto !important;
  }

  .owl-item.cloned {
    //width: auto !important;
  }

  .owl-stage-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .owl-stage {
    display: flex;
  }


  .products-grid .product-item {
    width: inherit !important;

    @media ( min-width: 640px ) {
      width: inherit;
    }

  }


  .owl-dots {
    display: none;
  }

  .products-grid .product-item-inner {
    bottom: 75px;
    display: none;
  }

  .products-grid .product-item-details {
    text-align: center;
  }

  .block-title strong {
    //font-size: 30px;
    font-family: 'Gotham Black';
    padding: 0;

  }

  .product-item-name a {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 1.6rem;
  }

  .product-item .price-box {
    text-align: center;
    margin: auto;
    float: none;
  }

  .owl-nav {
    position: absolute;
    top: 33%;
    width: 100%;
    right: 0;
    left: -15px;
    transform: translateY(-50%);
  }

  .owl-prev {
    float: left;
    background: transparent !important;
    color: transparent !important;

    &:after {
      content: '';
      border-bottom: 6px solid;
      border-left: 6px solid;
      transform: rotate(45deg);
      left: -30px;
      width: 48px;
      height: 48px;
      border-color: #000;
      position: absolute;
      top: 50%;
      transition: border-color 500ms;
      opacity: 1;

      @media ( max-width: 768px ) {
       left: inherit;
      }
    }
  }

  &:hover .owl-prev:after,
  &:hover .owl-next:after {
    border-color: #929191;
    transition: border-color 500ms;
  }

  .owl-next {
    float: right;
    background: transparent !important;
    color: transparent !important;

    &:after {
      content: '';
      border-bottom: 6px solid;
      border-left: 6px solid;
      transform: rotate(-135deg);
      right: -60px;
      width: 48px;
      height: 48px;
      border-color: #000;
      position: absolute;
      top: 50%;
      transition: border-color 500ms;
      opacity: 1;

      @media ( max-width: 768px ) {
        right: 10px;
      }
    }
  }

  .product-item-name:hover a {
    color: #333;
  }

  .product-image-container {
    width: 100% !important;
  }
}

.product-bg-gray {
  background-color: #f0f0f0;

  .block-title strong {
    padding-top: 60px;
  }

  .sale-product {
    max-width: 30%;

    @media ( min-width: 1650px ) {
      margin-top: -38px;
    }
  }

  .product-item-label {
    bottom: 94px;
    top: inherit;
    right: 15px;
  }

  .old-price {
    display: none;
  }

  span.special-price {
    margin-right: 0 !important;
  }

  .product-widget-section .owl-nav {
    top: 40%;
  }

  .owl-prev {

    &:after {

      @media ( max-width: 768px ) {
       border-color: #000;
      }
    }
  }

  .owl-next {

    &:after {

      @media ( max-width: 768px ) {
        border-color: #000;
      }
    }
  }

  .product-image-container {
    width: 100% !important;
  }
}

.product-spacing {
  margin-top: 0;
}


.product-widget-section .product-item-info > a {
  position: relative;

  &:hover .fullwidth-triple-product__overlay {
    opacity: 1;
    transition: opacity 500ms;
  }

  .fullwidth-triple-product__shop-now {
    z-index: 2;

    &:hover {
      background-color: #fff;
      color: #333;
    }
  }
}

.cms-home {

  ol.product-items.widget-product-grid {
    display: flex;
    flex-wrap: wrap;
  }

  .products-grid .product-item {
    width: 49%;
  }
}

.product-widget-section .product-items {
  flex-wrap: nowrap !important;
  overflow: hidden;
  //max-width: 1600px;
}

.product-widget-section .owl-item {
  width: 100%;
}

.product-widget-section .products-grid .product-items {
  margin: 0;
}