.instagram-section {
  padding: 30px 0;
}

.instagram-container {

}

.instagram__title {
  padding-bottom: 40px;
  text-align: center;
  font-family: 'Gotham Black';

  @media ( min-width: 769px ) {
    font-size: 3rem;
  }
}

.instagram__content-container {

  .widget__overlay {
    position: absolute;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: opacity 500ms;
  }

}

.instagram__block {

  &:hover .widget__overlay {
    opacity: 1;
    transition: opacity 500ms;
  }
}

.instagram__image {

  img {
    display: block;
  }
}

.widget__overlay-container {
  position: relative;

  span.fullwidth-triple-product__shop-now {

    @media ( min-width: 769px ) {
      font-size: 3rem;
    }
  }
}




.instagram__load-more-btn {
  text-align: center;
  font-family: 'Gotham Black';
  font-size: 3rem;
  display: block;
  color: #333;
  font-size: 1.6rem;
  text-transform: uppercase;
  padding-top: 25px;
  display: none;

  &:hover {
    color: #333;
  }

  &:after {
    content: "V";
    display: block;
    text-align: center;
  }
}