// /**
//  * Copyright © 2018 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Rope theme overrides
//  _____________________________________________

//  Theme file should contain declarations (overrides) ONLY OF EXISTING variables
//  Otherwise this theme won't be available for parent nesting
//  All new variables should be placed in local theme lib or local theme files

//Top banner styling.

header.page-header {
  padding: 0;
}

div.header-banner {
  background-color: #1d1d1d;
  padding: 5px 16px;

  @media ( min-width: 769px ) {
    display: flex;
  }
}

ul.header.links {
  flex: 1;
  text-align: center;
  position: relative;


  li {
    display: inherit;

    @media ( min-width: 769px ) {
      display: inline-block;
    }
  }

  li.wishlist {
    display: none;
  }

  li.welcome {
    display: none;
  }

  li.authorization-link {
    position: absolute;
    right: -144px;

    @media ( max-width: 769px ) {
      display: none;
    }
  }

  a {
    color: #fff;
    font-size: 1.3rem;
  }
}

[data-role="compare-products-link"] {

  @media ( max-width: 768px ) {
    display: none;
  }
}

.banner-message {


  @media (max-width: 768px ) {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: none;
  }
}

div#switcher-user {
  display: none;
}

div#switcher-language {
  position: relative;
  right: 55px;

  @media ( max-width: 769px ) {
    display: none;
  }
}

strong.switcher-label {
  font-size: 1.3rem;
  color: #fff;
  font-weight: normal;
}

span.switcher-text {
  font-size: 1.3rem;
  color: #000;
  font-weight: normal;
  position: relative
}

ul.switcher-options {
  position: absolute;
  padding: 20px 16px;
  display: none;
  box-shadow: 0 0 2px rgba(0, 0 , 0, .5);
  z-index: 999;
  width: 160px;
  left: -17px;
  background-color: #fff;
  top: 27px;
}

a.chat-box {
  position: absolute;
  right: 217px;
  top: 8px;
  display: none;

  @media ( max-width: 769px ) {
    display: none;
  }
}

li.view-vaprzon_retail_us_store_view,
.switcher-label {

  img {
    width: 20px;
    position: relative;
    top: 1px;
    display: inherit;
    right: 0;
  }
}

.country-switcher {
  font-size: 1.3rem;
  color: #fff;
  font-weight: normal;
  cursor: pointer;

  &:after {
    content: '';
    display: inline-block;
    width: 0;
    margin-left: 3px;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #fff;
  }
}

.store-view {
  margin-left: 12px;

  a {
    font-size: 1.3rem;
    color: #fff;
    font-weight: normal;
  }
}

ul.show {
  display: block;
}

a.phone-box {
  position: inherit;
  top: inherit;
  right: inherit;

  @media ( min-width: 769px ) {
    position: absolute;
    top: 3px;
    right: 70px;
  }
}

#nicotineWarning {
  border: 4px solid #333;
  border-bottom: 0;
  color: #333;
  font-family: Arial;
  font-weight: 700;
  padding: 16px 20px;
  text-align: center;
}