// /**
//  * Copyright © 2018 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Rope theme overrides
//  _____________________________________________

//  Theme file should contain declarations (overrides) ONLY OF EXISTING variables
//  Otherwise this theme won't be available for parent nesting
//  All new variables should be placed in local theme lib or local theme files

//Base styling overrides.

body {
  font-size: 16px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

a:visited, .alink:visited {
  color: #333;
}

// Checkout Cart page
.checkout-cart-index .box > .page-title-wrapper .page-title {
  display: none;
}

.checkout-cart-index .page-main {
  padding-top: 30px;
}

.action.primary {
  background: #f33333;
  border: 1px solid #f33333;
}
.page-main {
  min-height: 615px;
}

.products-grid .product-item-name {
  text-overflow: inherit;
  white-space: inherit;
}

.page-layout-1column .products-grid .product-item,
.page-layout-2columns-left .products-grid .product-item,
.page-layout-2columns-right .products-grid .product-item,
.page-layout-3columns .products-grid .product-item {

  @media ( max-width: 480px) {
    width: 49% !important;
  }
}

.nav-sections {
  z-index: 899;
}

.product-item-name a {
  text-transform: capitalize !important;
}

.block-search {
  
  .mage-dropdown-dialog {
    display: none;
  }
}

.header.panel .block-search .block-title {

  @media ( max-width: 768px ) {
    top: 55%;
    margin-top: -15px;
    right: 100px;
  }
}

//p.minimal-price {
//  display: flex;
//  flex-direction: column-reverse;
//}

.price-box.price-final_price {
  display: flex;
  flex-direction: column;
}

.our-price-text {

  &:before {
    content: "Our Price:";
    margin-right: 0;
    position: relative;
    top: 0;
    font-size: 1.8rem;
    margin-right: 4px;
  }
}

.list-price-text {
  text-decoration: line-through;
  color: #949393;
  vertical-align: middle;

  .list-price-container-label {
    color: #949393 !important;
    font-size: 1.6rem !important;
    font-weight: 300;
    font-family: "Source Sans Pro", 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }

  .list-price-container span {
    color: #949393 !important;
    font-size: 1.6rem !important;
    font-weight: 300 !important;
    position: relative;
    top: 0;
    font-family: "Source Sans Pro", 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }

}

span.list-price-text.price-container {
  display: block !important;
}