.cart-popup-overlady {
  z-index: 9999999999;
  background-color: rgba(0,0,0, .8);
  position: absolute;
  width: 100%;
  top: 0;
  height: 100vh;
  left: 0;
  display: none;
}

.cart-popup-wrapper {
  position: absolute;
  top: 15%;
  left: 50%;
  background-color: #fff;
  z-index: 99999999999999999;
  transform: translate(-50%, 0);
  height: 300px;
  width: 100%;
  max-width: 450px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, .8);
  padding: 20px;
}

.cart-popup__text-title {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 40px;
  margin-top: 32px;
}

.cart-popup__btn {
  background-color: #FF0000;
  text-decoration: none;
  display: block;
  margin: 0 auto;
  margin-bottom: 24px;
  text-align: center;
  padding: 20px;
  max-width: 200px;
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.4rem;

  &:visited, &:visited {
    color: #fff;
  }
}