// Checkout Cart widget
.crosssell {

  @media ( min-width: 769px ) {

  }

  .products-grid {

    .product-items {
      position: relative;
      overflow: hidden;
    }

    .product-item {

      @media ( max-width: 768px ) {
        width: 100% !important;
      }
    }
  }

  .title {
    text-align: center;
    border-top: 1px solid #ebebeb;
    padding-top: 10px;

    #block-crosssell-heading {
      font-family: 'Gotham Black';
      font-size: 2rem;
      font-weight: 700;
    }
  }

  .owl-stage {
    display: flex;
  }

  .owl-nav {
    position: absolute;
    top: 33%;
    width: 100%;
    transform: translateY(-50%);
  }

  .owl-next, .owl-prev {
    float: left;
    background: transparent !important;
    color: transparent !important;

    &:hover {
      cursor: pointer;
    }
  }

  .owl-prev:after {
    content: '';
    border-bottom: 6px solid;
    border-left: 6px solid;
    transform: rotate(45deg);
    left: 13px;
    width: 48px;
    height: 48px;
    border-color: #000;
    position: absolute;
    top: 50%;
    transition: border-color 500ms;

    &:hover {
      border-color: gray;
    }
  }

  .owl-next:after {
    content: '';
    border-bottom: 6px solid;
    border-left: 6px solid;
    transform: rotate(-135deg);
    right: 13px;
    width: 48px;
    height: 48px;
    border-color: #000;
    position: absolute;
    top: 50%;
    transition: border-color 500ms;

    &:hover {
      border-color: gray;
    }
  }
}

.cart.table-wrapper .item .col.item {

  @media ( max-width: 768px ) {
    padding-bottom: 6px;
  }
}

.cart-summary .block {

  @media ( max-width: 768px ) {
    text-align: center;
  }
}


// Mini Cart
.minicart-items .product .toggle>span {

  @media ( max-width: 768px ) {
    position: relative;
    font-size: 1.4rem;
  }
}

.minicart-items .product.options {


  @media ( max-width: 768px ) {
    display: block;
    margin-bottom: 0;
    font-size: 1.4rem;
  }
}

.block-minicart .block-content > .actions > .secondary {

  @media ( max-width: 768px ) {
    text-align: center;
    background-color: #f33333;
    font-size: 1.4rem;
    display: block;
    width: 100%;
    max-width: 240px;
    margin: 0 auto;
    padding: 9px 0px;
    margin-bottom: 5px;
  }

  span {


    @media ( max-width: 768px ) {
      color: #fff;
    }
  }

}

.block-minicart .block-content > .actions > .primary .action.primary {

  @media ( max-width: 768px ) {
    font-size: 1.4rem;
    font-family: "Source Sans Pro", 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
}


.checkout-cart-index {

  .cart-container .cart.actions .action.continue,
  .cart-container .cart.actions .action.clear,
  .cart-container .cart.actions .action.update {

    @media ( max-width: 768px ) {
      margin: 0 auto;
      margin-bottom: 8px;
    }
  }
}

.pulse-in-checkout {
  animation-duration: 5s;
  animation: pulse 1s 4;
}

@keyframes pulse {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(.9);
  }
}

.label[for="giftcard-code"] {
  color: #f33333;
}