@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

// Arial Fonts.
@font-face {
  font-family: 'Arial';
  src:  url('@{baseDir}fonts/arial/Arial.ttf');
  src:  url('@{baseDir}fonts/arial/Arial.ttf') format('truetype'),
        url('@{baseDir}fonts/arial/Arial.eot') format('embedded-opentype'), 
        url('@{baseDir}fonts/arial/Arial.woff') format('woff'), 
        url('@{baseDir}fonts/arial/Arial.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Arial';
  src:  url('@{baseDir}fonts/arial/Arial-Bold.ttf');
  src:  url('@{baseDir}fonts/arial/Arial-Bold.ttf') format('truetype'),
        url('@{baseDir}fonts/arial/Arial-Bold.eot') format('embedded-opentype'), 
        url('@{baseDir}fonts/arial/Arial-Bold.woff') format('woff'), 
        url('@{baseDir}fonts/arial/Arial-Bold.svg') format('svg');
  font-weight: 600;
  font-style: normal;
}


//Gotham Fonts.
@font-face {
  font-family: 'Gotham';
  src:  url('@{baseDir}fonts/gotham/regular/Gotham-Book.otf');
  src:  url('@{baseDir}fonts/gotham/regular/Gotham-Book.ttf') format('truetype'),
        url('@{baseDir}fonts/gotham/regular/Gotham-Book.eot') format('embedded-opentype'), 
        url('@{baseDir}fonts/gotham/regular/Gotham-Book.woff') format('woff'), 
        url('@{baseDir}fonts/gotham/regular/Gotham-Book.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src:  url('@{baseDir}fonts/gotham/bold/Gotham-Bold.otf');
  src:  url('@{baseDir}fonts/gotham/bold/Gotham-Bold.ttf') format('truetype'),
  url('@{baseDir}fonts/gotham/bold/Gotham-Bold.eot') format('embedded-opentype'),
  url('@{baseDir}fonts/gotham/bold/Gotham-Bold.woff') format('woff'),
  url('@{baseDir}fonts/gotham/bold/Gotham-Bold.svg') format('svg');
  font-weight: 700;
}

@font-face {
  font-family: 'Gotham Black';
  src:  url('@{baseDir}fonts/gotham/black/Gotham-Black.otf');
  src:  url('@{baseDir}fonts/gotham/black/Gotham-Black.ttf') format('truetype'),
        url('@{baseDir}fonts/gotham/black/Gotham-Black.eot') format('embedded-opentype'),
        url('@{baseDir}fonts/gotham/black/Gotham-Black.woff') format('woff'),
        url('@{baseDir}fonts/gotham/black/Gotham-Black.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Medium';
  src:  url('@{baseDir}fonts/gotham/medium/Gotham-Medium.otf');
  src:  url('@{baseDir}fonts/gotham/medium/Gotham-Medium.ttf') format('truetype'),
  url('@{baseDir}fonts/gotham/medium/Gotham-Medium.eot') format('embedded-opentype'),
  url('@{baseDir}fonts/gotham/medium/Gotham-Medium.woff') format('woff'),
  url('@{baseDir}fonts/gotham/medium/Gotham-Medium.svg') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: '308-CAI978';
  src:  url('@{baseDir}fonts/308-CAI978.ttf');
  //src:  url('@{baseDir}fonts/gotham/medium/Gotham-Medium.ttf') format('truetype'),
  //url('@{baseDir}fonts/gotham/medium/Gotham-Medium.eot') format('embedded-opentype'),
  //url('@{baseDir}fonts/gotham/medium/Gotham-Medium.woff') format('woff'),
  //url('@{baseDir}fonts/gotham/medium/Gotham-Medium.svg') format('svg');
  //font-weight: 500;
  font-style: normal;
}
