.customer-account-login {

  .product-static-block-banner {
    display: none;
  }

  .page-main {
    padding-top: 30px;
  }
}

// Forgot password page
.customer-account-forgotpassword {


}

// Sitemap page
.sitemap-index-index {

  .product-static-block-banner {
    display: none;
  }

  .page-main {
    padding-top: 30px;
  }
}

// Shipping Page
.cms-shipping-policy {

  .product-static-block-banner {
    display: none;
  }

  .page-main {
    padding-top: 30px;
  }
}

// The page where a visitor creates an account.
.customer-account-create {

  .product-static-block-banner {
    display: none;
  }

  .page-main {
    padding-top: 30px;
  }

  .field.newsletter .label span {
    display: inline;
  }
}

// The visitor dashboard page
.customer-account-index {

  .product-static-block-banner {
    display: none;
  }

  .page-main {
    padding-top: 30px;
  }

  .nav {
    background-color: transparent;
  }
}

//  The search result page
.catalogsearch-result-index {

  .product-static-block-banner {
    display: none;
  }

  .page-main {
    padding-top: 30px;
  }

  .columns {
    padding-top: 20px;
    display: block;
    padding-top: 0;

    @media ( max-width: 768px ) {
      width: 100%;
      margin: 0;
      display: flex;
      flex-direction: column-reverse;
    }
  }

  .column.main {
    width: 100% !important;
    left: inherit !important;
  }

  .products-grid .product-items {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}

// Contact Page
.contact-index-index {

  .product-static-block-banner {
    display: none;
  }

  .page-main {
    padding-top: 30px;
  }
}

// Newsletter Page
.cms-vaprzon-news-letter-signup-experience-everything {

  .product-static-block-banner {
    display: none;
  }

  .page-main {
    padding-top: 30px;
  }
}

.checkout-index-index {

  .page-header {
    padding-top: 0;
  }

  #nicotineWarning {
    border-bottom: 4px solid #333;
  }
}

body.account {
  .sidebar .nav {
    background-color: inherit;
  }

  .product-static-block-banner h1.page-title {
    color: #fff;
  }
}