// /**
//  * Copyright © 2015 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {


  .nav-sections {
    .lib-css(background, @navigation__background);
    &-item-title {
      font-size: 30px;
      text-transform: uppercase;
      font-weight: bold;
      color: #333;
    }
  }

  .nav-toggle {
    &:before {
      content: @icon-menu;
      font-family: "luma-icons"
    }
    color: @color-font-base;

    cursor: pointer;
    display: block;
    font-size: 18px;
    left: 0;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    z-index: 8;
    line-height: 30px;
    width: 23px;
    text-align: center;
    span {
      display: none;
    }
    &:hover {
      color: @color-theme;
    }
    .nav-before-open.nav-open & {
      &:before {
        content: "\f00d";
        font-family: "FontAwesome"
      }
    }
  }
  .overlay-nav {
    display: none;
  }
  .overlay-nav  {
    &:after {
      opacity: 0;
      visibility: hidden;
      .transition(0.3s);
    }
    .nav-open & {
      display: block;
      &:after {
        content: "";
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(60, 60, 60, 0.3);
        z-index: 800;
        opacity: 1;
        visibility: visible;
        .transition(0.3s);
      }
    }
    .nav-open .page-header & {
      display: block;
      &:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: transparent;
        z-index: 800;
      }
    }
  }

  .navigation .level0 {
    &:first-child {
      border-top: none;
    }
  }
  .nav-sections .switcher {
    &:first-child {
      border-top: none;
    }
  }
  .navigation {
    display: none;
    &.mobile {
      display: block;
    }
  }
}

//
//  Mobile
//  _____________________________________________

@active-nav-indent: 54px;
@media only screen and ( max-width: 1080px ) {
  .lib-main-navigation();
  .navigation {
    padding: 0;
    .parent {
      .level-top {
        position: relative;
        .lib-icon-font(
          @_icon-font-content: @icon-down,
          @_icon-font-size: 42px,
          @_icon-font-position: after,
          @_icon-font-display: block
        );
        &:after {
          position: absolute;
          right: 7px;
          top: -8px;
        }
        &.ui-state-active {
          .lib-icon-font-symbol(
            @_icon-font-content: @icon-up,
            @_icon-font-position: after
          );
        }
      }
    }
    .level0.active ,
    .level0.has-active {
      > a:not(.ui-state-active) span:not(.ui-menu-icon) {
        margin-left: 0 !important;
      }
    }

  }

  .navigation .submenu:not(:first-child) .level1.active > a ,
  .navigation .submenu:not(:first-child) .active > a{
    padding-left: 15px;
  }
  .nav-sections {
    .lib-css(transition, left .3s, 1);
    height: 100%;
    left: -80%;
    left: calc(~"-1 * (100% - @{active-nav-indent})");
    overflow: auto;
    position: fixed;
    top: 0;
    width: 80%;
    width: calc(~"100% - @{active-nav-indent}");

    .switcher {
      border-top: 1px solid @color-gray82;
      font-size: 1.6rem;
      font-weight: 700;
      margin: 0;
      padding: .8rem 3.5rem .8rem 2rem;
      .label {
        display: block;
        margin-bottom: @indent__xs;
      }
      &:last-child {
        border-bottom: 1px solid @color-gray82;
      }
      &-trigger {
        strong {
          display: inline-block !important;
          position: relative;
          .lib-icon-font(
            @_icon-font-content: @icon-down,
            @_icon-font-size: 42px,
            @_icon-font-position: after,
            @_icon-font-display: block
          );
          &:after {
            position: absolute;
            right: -40px;
            top: -18px;
          }
        }
        &.active strong {
          .lib-icon-font-symbol(
            @_icon-font-content: @icon-up,
            @_icon-font-position: after
          );
        }
      }
      &-dropdown {
        .lib-list-reset-styles();
        padding: @indent__s 0;
      }
    }

    .header.links {
      .lib-list-reset-styles();
      border-bottom: 1px solid @color-gray82;
      li {
        font-size: 1.6rem;
        margin: 0;
        &.greet.welcome {
          border-top: none;
          font-weight: 700;
          padding: .8rem @indent__base;
        }
        > a {
          border-top: 1px solid @color-gray82;
        }
      }
      a,
      a:hover {
        .lib-css(color, @navigation-level0-item__color);
        .lib-css(text-decoration, @navigation-level0-item__text-decoration);
        display: block;
        font-weight: 700;
        padding: .8rem @indent__base;
      }
      .header.links {
        border: 0;
      }
    }
  }

  .nav-before-open {
    height: 100%;
    width: 100%;
    .page-wrapper {
      .lib-css(transition, left .3s, 1);
      height: 100%;
      left: 0;
      overflow: hidden;
      position: relative;
    }

    body {
      height: 100%;
      overflow: hidden;
      position: relative;
      width: 100%;
    }
  }

  .nav-open {
    .page-wrapper {
      left: 80%;
      left: calc(~"100% - @{active-nav-indent}");
    }

    .nav-sections {
      @_shadow: 0 0 5px 0 rgba(50, 50, 50, .75);

      .lib-css(box-shadow, @_shadow, 1);
      left: 0;
      z-index: 99;
    }

    .nav-toggle {
      &:after{
        background: rgba(0,0,0,.01);
        content: '';
        display: block;
        height: 100%;
        position: fixed;
        right:0;
        top: 0;
        width: 100%;
        z-index: 1;
      }
    }
  }

  .nav-sections {
    &-items {
      .lib-clearfix();
      position: relative;
      z-index: 1;
    }

    &-item-title {
      background: darken(@navigation__background,5%);
      border: solid darken(@navigation__background,10%);
      border-width: 0 0 1px 1px;
      box-sizing: border-box;
      float: left;
      height: 71px;
      padding-top: 24px;
      text-align: center;
      width: 33.33%;
      &.active {
        background: transparent;
        border-bottom: 0;
      }
      .nav-sections-item-switch {
        &:hover {
          text-decoration: none;
        }
      }
    }

    &-item-content {
      .lib-clearfix();
      box-sizing: border-box;
      float: right;
      margin-left: -100%;
      margin-top: 71px;
      width: 100%;
      &.active {
        display: block;
      }
      padding: @indent__m 0;
    }
  }


}

//
//  Desktop
//  _____________________________________________

@media only screen and ( min-width: 1081px ) {
  .navigation {
    display: block;
    &.mobile {
      display: none;
    }
  }
  .nav-toggle {
    .nav-open & {

    }
  }

  .nav-sections {
    position: absolute;
    top: 100%;
    background-color: #fff;
    left: 0;
    right: 0;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    .transition(0.3s);
    .nav-open & {
      opacity: 1;
      visibility: visible;
      .transition(0.3s);
    }
    &-item-title {
      display: none;
    }

  }

  .lib-main-navigation-desktop();


  .navigation {
    background-color: #f6f6f6;
    font-size: 16px;
    li {
      position: relative;
    }
    .level0 {
      > a {
        font-weight: 700;
      }
      .submenu {
        box-shadow: none;
        background-color: transparent;
        a {
          padding: 14px 20px;
          background-color: #fff;
        }
        .submenu {
          padding-left: 9px;
          margin-left: 0 !important;
          &.submenu-reverse {
            padding-right: 9px;
            padding-left: 0;
          }
        }
      }
    }
  }

  .navigation ul {
    padding: 0 8px;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    li{
      margin-bottom: -1px;
      a{
        display: block;
      }
    }
    .ui-menu-icon{

    }
    li{
      .level-top{
        > .ui-menu-icon{
          &:after{

          }
        }
      }
      &:hover{
        .ui-menu-icon{
          &:after{
            visibility: visible !important;

            opacity: 1 !important;;
            transition: all 0.4s;
          }
        }
      }
    }
    .level0 {
      .submenu {
        z-index: 77;
      }
    }
    .submenu {
      text-align: left;
      z-index: 77;
      .ui-menu-icon{
        &:after{
          content: "\f105";
          font-family: "FontAwesome";
          display: inline-block;
          float: right;
        }
      }
    }
  }

}
//
@media only screen and ( max-width: 1080px )  {

  .navigation {
    position: static !important;
    > ul {
      position: static !important;
    }

    .megamenu {
      position: static !important;
      .megamenu-content {
        background-color: #fff;
        display: block !important;
        right: 0;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 999;
        padding: 18px 20px 20px;
        background-color: #fff;
        opacity: 0;
        visibility: hidden;
        .transition(0.1s);

        .submenu .submenu {
          margin-left: 0 !important;
          padding-left: 0;
        }
        a {
          &:hover {
            background-color: transparent;
          }
        }
        ul {
          display: block !important;
          position: static !important;
          box-shadow: none;
          border: none;
          margin: 0 !important;
          min-width: auto;
          .ui-menu-icon {
            display: none;
          }
          a {
            border: none;
            padding: 7px 0;
            font-size: 14px;
          }

        }

        &:before ,
        &:after {
          content: "";
          display: table;
        }
        &:after {
          clear: both;
        }

      }
      .megamenu-left {
        float: left;
        width: 80%;
        box-sizing: border-box;
        > ul {
          &:before ,
          &:after {
            content: "";
            display: table;
          }
          &:after {
            clear: both;
          }
          > li {
            display: block;
            width: 25%;
            float: left;
            padding-right: 10px;
            box-sizing: border-box;
            margin-bottom: 18px;
            font-size: 16px;

            > a {
              border-bottom: 1px solid #111111;
              padding-bottom: 13px;
              margin-bottom: 5px;
              font-weight: 500;
              display: inline-block;
            }
            ul {
              a {
                text-transform: none;
              }
            }
          }
        }
      }
      .megamenu-right {
        float: left;
        width: 20%;
        padding: 0;
        box-sizing: border-box;
      }
    }
    .submenu {
      display: block !important;
      margin-top: -10px;

    }
    .level0 {
      .submenu {
        margin-top: 0px !important;
        opacity: 0;
        visibility: hidden;
        .transition(0.1s);
      }
      .ui-state-focus,
      .ui-state-active  {
        & + .submenu {
          margin-top: 0 !important;
          opacity: 1;
          visibility: visible;
          .transition(0.3s);

        }
      }
      &.megamenu  {

        .ui-state-focus,
        .ui-state-active  {
          & + .megamenu-content {
            opacity: 1;
            visibility: visible;
            .transition(0.3s);
            .submenu {
              margin-top: 0px !important;
              opacity: 1;
              visibility: visible;
              .transition(0.3s);
            }
          }
          & + .submenu {
            opacity: 1;
            visibility: visible;
            .transition(0.3s);
          }
        }
      }
    }
    .ui-state-focus,
    .ui-state-active  {
      & + .megamenu-content {
        opacity: 1;
        visibility: visible;
        .transition(0.3s);
      }
      & + .submenu {
        opacity: 1;
        visibility: visible;
        .transition(0.3s);
      }
    }
  }


}
@media only screen and ( max-width: 1080px )  {
  .navigation {
    .megamenu {
      .megamenu-content {
        padding: 20px 30px 22px;
      }
      .megamenu-left  {
        > ul {
          > li {
            padding-right: 10px;
          }
        }
      }
      .megamenu-right {
      }
    }
  }
}