<?php
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_GroupedProductOption
 * @author     Extension Team
 * @copyright  Copyright (c) 2017-2018 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
?>
<?php $block->setPreconfiguredValue(); ?>
<?php $product = $block->getProduct(); ?>
<?php $associatedProducts = $block->getAssociatedProducts(); ?>
<?php $hasAssociatedProducts = count($associatedProducts) > 0; ?>
<?php $helper = $block->getBssHelper();
$_helper = $this->helper('Magento\Catalog\Helper\Output'); ?>
<?php if ($helper->getConfig()) : ?>
    <input type="hidden" name="bss-gpo" value="1">
<?php endif;?>
<div class="table-wrapper grouped">
    <table class="table data grouped" id="super-product-table">
        <caption class="table-caption"><?= __('Grouped product items') ?></caption>
        <thead>
        <tr>
            <th class="col item" scope="col"><?= __('Product Name') ?></th>
            <?php if ($product->isSaleable()) : ?>
                <th class="col qty" scope="col"><?= __('Qty') ?></th>
            <?php endif; ?>
        </tr>
        </thead>

        <?php if ($hasAssociatedProducts) : ?>
        <?php foreach ($associatedProducts as $item) : ?>
        <?php $productInfo = $block->getProductInfo($item);?>
        <tbody>
            <tr>
             <?php if ($block->getProductInfoGpo($item) && $helper->getConfig('show_image')) :?>
             <td data-th="<?php echo $block->escapeHtml(__('Image')); ?>" class="col item">
                        <div class="bss-gpo-img">
                            <?php echo $block->getProductInfoGpo($item);?>
                        </div>
                        </td>
                    <?php endif; ?>
                <td data-th="<?= $block->escapeHtml(__('Product Name')); ?>" class="col item">
                   
                    <strong class="product-item-name">
                        <?php if ($helper->getConfig('show_link') && $productInfo->getVisibility()
                        != 1) :?>
                            <a href="<?= $productInfo->getProductUrl();?>">
                        <?php endif; ?>
                            <?= $block->escapeHtml($item->getName()) ?>
                        <?php if ($helper->getConfig('show_link') && $productInfo->getVisibility()
                        != 1) :?>
                            </a>
                        <?php endif;?>
                    </strong>
                     
                    <?php if ($block->getCanShowProductPrice($product)) : ?>
                        <?php if ($block->getCanShowProductPrice($item)) : ?>
                            <?= $block->getProductPrice($item) ?>
                        <?php endif; ?>
                    <?php endif; ?>
                    <?php if ($item->getShortDescription()) :?>
                        <div class="bss-gpo-desc">
                            <?php echo $_helper->productAttribute($item, $item->getShortDescription(), 'short_description') ?>
                        </div>
                    <?php endif; ?>
                    <?php if ($helper->getConfig() && $block->renderBlockProduct($item)) :?>
                        <div class="bss-gpo-child-product-info bss-gpo-child-product-id-<?= $item->getId() ?>" <?php if (!$helper->getConfig('show_option_default') || !$item->isSaleable()) echo 'style="display: none;"';?>>
                            <div class="product-options-wrapper">
                                <?= $block->renderBlockProduct($item);?>
                            </div>
                        </div>
                    <?php endif; ?>
                </td>
                <?php if ($product->isSaleable()) : ?>
                <td data-th="<?= $block->escapeHtml(__('Qty')); ?>" class="col qty">
                <?php if ($item->isSaleable()) : ?>
                    <span class="gpp-qty-label">Qty</span>
                    <div class="control qty-<?= $item->getId() ?>">
                        <input type="number" name="super_group[<?= $item->getId(); ?>]"
                               data-selector="super_group[<?= $item->getId(); ?>]"
                               maxlength="12"
                               value="<?= $item->getQty() * 1; ?>"
                               title="<?= __('Qty'); ?>"
                               class="input-text qty"
                               data-validate="{'validate-grouped-qty':'#super-product-table'}"
                               data-product-id="<?= $item->getId(); ?>"
                               data-errors-message-box="#validation-message-box"/>
                        <span class="action-number">
                            <span class="btn-number btn-minus"></span>
                            <span class="btn-number btn-plus"></span>
                        </span>
                    </div>
                <?php else : ?>
                    <div class="stock unavailable" title="<?= __('Availability'); ?>">
                        <span><?= __('Out of stock'); ?></span>
                    </div>
                <?php endif; ?>
                </td>
                <?php endif; ?>
            </tr>
            <?php if ($block->getCanShowProductPrice($product)
                && $block->getCanShowProductPrice($item)
                && trim($block->getProductPriceHtml(
                    $item,
                    \Magento\Catalog\Pricing\Price\TierPrice::PRICE_CODE
                ))) : ?>
                <tr class="row-tier-price">
                    <td colspan="2">
                        <?= $block->getProductPriceHtml(
                            $item,
                            \Magento\Catalog\Pricing\Price\TierPrice::PRICE_CODE
                        ) ?>
                    </td>
                </tr>
            <?php endif; ?>
        </tbody>
        <?php endforeach; ?>
        <?php else : ?>
        <tbody>
            <tr>
                <td class="unavailable"
                    colspan="<?= $product->isSaleable() ? '4' : '3'; ?>">
                    <?= __('No options of this product are available.') ?>
                </td>
            </tr>
        </tbody>
        <?php endif; ?>
    </table>
</div>
<div id="validation-message-box"></div>
<script type="text/x-magento-init">
    {
        "#super-product-table": {
            "Bss_GroupedProductOption/js/grouped": {
                "show_option": <?= $helper->getConfig('show_option_default') ? 'true' : 'false';?>,
                "json": <?= $block->getJsonConfig() ?>
            },
            "Bss_GroupedProductOption/js/qtycontrol": {
                
            }
        }
    }
</script>