// /**
//  * Copyright © 2015 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

@toolbar-mode-icon-font-size: 16px;
@toolbar-background: transparent;
@toolbar-element-background: @color-gray94;
@pager-action__background: @toolbar-element-background;
@pager-action__hover__background: darken(@toolbar-element-background, 7%);
@pager__font-weight: @font-weight__bold;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
  .page-products {
    .columns {
      padding-top: 0;
      margin-top: 0px;
      position: relative;
      z-index: 1;
    }
    .toolbar {
      margin-bottom: 0px;
      padding-bottom: 15px;
      .clearfix();

    }
    .products  {
      +.toolbar {
        border-bottom: none;
      }
    }
    .page-main {
      padding-top: 15px;
    }

  }

  .toolbar {
    &:extend(.abs-add-clearfix all);
    margin-bottom: @indent__l;
    text-align: center;

    select {
      .lib-css(background-color, @toolbar-element-background);
      .lib-css(box-shadow, @button__shadow);
      border-radius: 3px;
      .page-products & {
        .lib-css(background-color, #fff);
        .lib-css(box-shadow, none);
        border-radius: 0;
      }
    }

    &-amount {
      display: none;
      .products.wrapper ~ .toolbar & {
        display: none;
      }
    }

    .page-with-filter & {
      &-amount {
        position: static;
      }
    }

    &-products {
      .lib-css(background-color, @toolbar-background);
      .pages {

        @media(min-width: 769px) {
          display: block;
        }

        .products.wrapper ~ & {
          display: block;
        }
      }
    }
    .pages {
      margin-bottom: 0;

      @media( max-width: 768px) {
        display: none;
      }
    }
  }

  .sorter {
    float: right;
    cursor: pointer;
    .page-products & {

    }
    .products.wrapper ~ .toolbar & {
      display: none;
    }
    .sorter-label {
      font-size: 1.2rem;
      text-transform: capitalize;
      display: inline-block;
      color: #3c3c3c;
      font-family: 'Gotham Medium';
    }
    .sorter-options {
      height: 40px;
    }
    &-options {
      margin: 0 @indent__xs 0 7px;
      width: auto;
      font-size: 14px;
      color: #3c3c3c;
      .placeholder(#3c3c3c);
      padding-left: 15px;
      cursor: pointer;
    }
    &-action {
      color: @color-theme;
      &.action {
        color: @color-theme;
      }
      &:before {
        content: "\f176";
        font-size: 14px;
        font-family: 'FontAwesome';
      }

      .lib-icon-text-hide();
      &.sort-desc:before {

      }
    }
  }

  .modes {
    display: none;
  }

  .limiter {
    display: none;
    cursor: pointer;
    &-options {
      margin: 0 5px 0 7px;
      width: auto;
      font-size: 14px;
      color: #3c3c3c;
      .placeholder(#3c3c3c);
      padding-left: 15px;
      cursor: pointer;
    }
    .label {
      font-size: 13px;
      text-transform: uppercase;
      display: none;
    }
    &-label {
      font-weight: 400;

    }
    .limiter-options {
      height: 40px;
    }
    .page-products .toolbar & {
      display: none;
    }
    .control {
      display: inline-block;
    }
    .limiter-text {
      .page-products & {
        display: none;
      }
    }
  }
  .modes {
    margin-left: 90px;
  }
  .limiter,
  .modes {
    display: block;
    .products.wrapper ~ .toolbar & {
      display: none;
    }
  }
}

//
//  Desctop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
  .toolbar-products {
    margin-bottom: 0;
  }
  .modes {
    display: none;
  }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {




  .modes {

    float: left;
    margin-right: 35px;
    margin-bottom: 15px;

    .products.wrapper ~ .toolbar & {

    }

    &-label {
      &:extend(.abs-visually-hidden-desktop-s all);
    }

    &-mode {
      .lib-css(color,@color-font-base);
      float: left;
      font-weight: @font-weight__regular;
      line-height: 40px;
      padding: 0;
      margin-right: 12px;
      text-align: center;
      span {
        display: none;
      }
      .modes-label + & {
        margin-right: 15px;
      }
      &:hover {
        .lib-css(color, @color-theme);
      }
      &:last-child {
        margin-right: 0;
      }
      &.active {
        color: @color-theme;
      }
      &.mode-grid {
        font-size: 22px;
        &:before {
          .icon-font(@icons-grid);
        }
      }
      &.mode-list {
        font-size: 24px;
        &:before {
          .icon-font(@icons-list);
        }
      }
    }
  }

  .sorter {
    .page-products & {
      position: static;
    }
  }



  .limiter {
    float: right;
    .products.wrapper ~ .toolbar & {

    }
  }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  .toolbar {
    &-amount {
      display: block;
      float: left;
      position: static;
      line-height: 36px;
      font-size: 14px;
      padding: 0;
    }
    .products.wrapper ~ & .pages {
      float: left;
      margin-bottom: 0;
    }
  }
  .page-products {
    .columns {
      padding-top: 80px;
      .page-layout-1column&{

      }
    }
    .toolbar {

      .page-layout-1column&{

      }
    }
    .products {
      +.toolbar {
        position: static;
      }
    }
    .page-main {
      padding-top: 20px;
    }

  }
  .limiter {
    .page-products .toolbar & {
      display: block;
      float: left;
      margin-right: 15px;
      margin-bottom: 15px;
    }
  }
  .pages {
    .page-products .toolbar-products & {
      display: block;
      float: right;
      margin-bottom: 7px;
    }
    .page-products .products.wrapper ~ .toolbar & {
      float: none;
      display: block;

      padding-top: 0px;
    }
  }
  .sorter,
  .toolbar-amount,
  .limiter,
  .modes {
    .page-products .products.wrapper ~ .toolbar & {
      display: block;
    }
  }
  .modes {
    margin-left: 0px;
  }
  .products.wrapper {
    +.toolbar {
      border-bottom: none;
      padding-top: 10px;
    }
  }
  .sorter {
    .products.wrapper ~ .toolbar & {
      display: block;
    }
    .page-products .toolbar-products & {
      float: left;
      margin-right: 35px;
      margin-bottom: 15px;
    }
  }
  .toolbar-amount {
    .toolbar-products & {
      display: block;
    }
  }
  .products {
    + .toolbar {
      margin-bottom: 75px;
    }
  }

}