<?php
/* @escapeNotVerified */
$sub_title = $block->getProduct()->getResource()->getAttribute('sub_product_title')->getFrontend()->getValue($block->getProduct());
?>

<style>

    .base {
        /*font-weight: bold;*/
    }

    .sub-page-title {
        font-weight: 400;
        font-family: "Gotham";
        padding-left: 10px;
        margin: 2px 0 0;
    }

</style>

<?php if ($sub_title) : ?>
<h2 class="sub-page-title"><?php echo $sub_title; ?></h2>
<?php endif; ?>