<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
/*
 * @author  Saulo DSCF<sferreira@vaprzon.com>
 * @reason  Reformatted php tags
 * @date    20180728
 * */
?>

<?php /** @var \Magento\Framework\Pricing\Render\Amount $block */ ?>
<span class="our-price-text price-container <?php /* @escapeNotVerified */ $block->getAdjustmentCssClasses() ?>"
    <?php echo $block->getSchema() ? ' itemprop="offers" itemscope itemtype="http://schema.org/Offer"' : '' ?>>
    <?php if ($block->getDisplayLabel()): ?>
        <span class="price-label"><?php /* @escapeNotVerified */ echo $block->getDisplayLabel() ?></span>
    <?php endif; ?>
    <span <?php if ($block->getPriceId()): ?> id="<?php /* @escapeNotVerified */ echo $block->getPriceId() ?>"<?php endif;?>
        <?php echo ($block->getPriceDisplayLabel()) ? 'data-label="' . $block->getPriceDisplayLabel() . $block->getPriceDisplayInclExclTaxes() . '"' : '' ?>
            data-price-amount="<?php /* @escapeNotVerified */ echo $block->getDisplayValue() ?>"
            data-price-type="<?php /* @escapeNotVerified */ echo $block->getPriceType() ?>"
            class="price-wrapper <?php /* @escapeNotVerified */ echo $block->getPriceWrapperCss() ?>">
        <?php /* @escapeNotVerified */ echo $block->formatCurrency($block->getDisplayValue(), (bool)$block->getIncludeContainer()); ?>
    </span>
    <?php if ($block->hasAdjustmentsHtml()): ?>
        <?php echo $block->getAdjustmentsHtml() ?>
    <?php endif; ?>
    <?php if ($block->getSchema()): ?>
        <meta itemprop="price" content="<?php /* @escapeNotVerified */ echo $block->getDisplayValue() ?>" />
        <meta itemprop="priceCurrency" content="<?php /* @escapeNotVerified */ echo $block->getDisplayCurrencyCode() ?>" />
    <?php endif; ?>
</span>
<?php
if($block->getSaleableItem()->getListPrice() !== null){
    $list_price = $block->formatCurrency($block->getSaleableItem()->getListPrice(), 2);
}else{
    /** @var \Magento\Catalog\Model\ResourceModel\Product\Collection $product_collection */
    $product_collection = $block->getSaleableItem()->getCollection();
    /** @var \Magento\Catalog\Model\Product $product */
    $product = $product_collection->addAttributeToSelect('list_price')->addAttributeToFilter('entity_id', $block->getSaleableItem()->getId())->fetchItem();
    if($product->hasData('list_price')) {
        $list_price = $product->getData('list_price');
        if (!empty($list_price) && isset($list_price)) {
            $list_price = $block->formatCurrency($product->getData('list_price'));
        }
    }
}
if(isset($list_price)){
    echo '<span class="list-price-text price-container"><span class="list-price-container-label">List Price: </span><span class="list-price-container">' . $list_price . '</span></span>';
}
?>
