// Top header content

.catalog-category-view {  // I may want to remove this namespace later
  .category-title-custom {
    height: inherit;
  }

  .products-grid .product-item {
    @media(max-width: 768px) {
      margin: 0;
      padding: 0 13px;
    }
  }

  .sidebar-main {

    #narrow-by-list2 {
      display: none;
    }
  }
  .product-image-photo {

    @media ( min-width: 769px ) {
      //min-height: 370px;
    }
  }

  .category-title-custom {
    background-color: inherit;
    background-image: inherit;
    display: block;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 15px 0;

    &:before {
      background-color: inherit;
    }

    .page-title-wrapper {
      font-family: 'Gotham Medium';
      font-weight: 500;
      padding-bottom: 0;
      margin-bottom: 0;
      padding-top: 0;

      &:before {
        content: none;
      }

      .page-title {
        color: #000;
        font-size: 2.4rem;
        text-transform: capitalize;
        text-align: left;
      }
    }

    .box > .page-title-wrapper {
      display: none;
    }

    .box > .page-title-wrapper:first-child {
      display: block;
    }

    .breadcrumbs {
      padding-top: 5px;
      display: block;
      text-align: left !important;
      margin-bottom: 0;

      @media ( max-width: 768px ) {
        margin-bottom: 4px;
      }

      .container {
        padding-left: 0;
      }

      .items {
        color: #afafaf;
        font-size: 1.1rem;

        a {
          color: #afafaf;
          font-size: 1.1rem;
        }
      }

      .item {

        &:not(:last-child):after {
          color: #afafaf;
          margin: 0 5px;
        }
      }
    }
  }

  #maincontent {

    > .columns {
      display: flex;
      flex-direction: column-reverse;
      padding-top: 0;

      @media ( max-width: 768px ) {
        width: 100%;
        margin: 0;
      }

      @media ( min-width: 769px ) {
        display: flex;
        flex-direction: column-reverse;
        padding-top: 0;
      }
    }

    .sidebar-main {
      right: inherit;
      width: 100%;
    }

    .column.main {
      width: 100%;
      left: inherit;

      @media ( max-width: 768px ) {
        padding: 0;
      }

      .page-products .toolbar {
        display: none;
        display: block;
      }

      #layered-filter-block-top {

        .filter-options {
          border: none;

          @media ( min-width: 769px ) {
            margin-left: -15px;
          }
        }
      }
    }

    .products-grid {

      .product-item {


        @media ( min-width: 769px ) {
          width: 25%;
          clear: inherit;
        }

        &::nth-child(3) {
          clear: left;
        }

        &:nth-child(n+5) {
          clear: inherit;
        }
      }
    }

    .filter {

      .block-subtitle {
        display: none;
      }
    }
  }

  // Main Container Content
  .container {
    //max-width: 1600px;
  }

  .catalog-promo-section {
    padding: 20px;
    border: 1px solid #d2d2d2;
    background-color: #f0f0f0;
    text-align: center;

    .catalog-promo__container {

    }

    .catalog-promo__text {
      margin-bottom: 0;
      font-size: 1.4rem;

      span {
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }

  .filter .filter-current {

    @media ( max-width: 768px ) {
      display: none;
      display: block;
    }
  }
}

.filter-no-options .filter-title:before {

  @media ( max-width: 768px ) {
    height: inherit;
    left: 0;
    margin-top: 0;
  }

}

.filter .filter-current + .block-actions {
  display: block;
  text-align: left;
  padding-left: 0;
}

.block-content.filter-content {

  @media ( max-width: 768px ) {

  }

}

.filter-no-options strong {

  @media ( max-width: 768px ) {
    pointer-events: none;
    color: rgba(222, 218, 218, .9) !important;
  }
}

.block-content.filter-content {

  @media ( max-width: 768px ) {
    padding-bottom: 10px;
  }
}

.filter-current .item {

  @media ( max-width: 768px ) {
    text-align: left;
  }
}

.block-actions {

  @media ( max-width: 768px ) {
    display: block;
  }
}

.filter .filter-current .items {

  @media ( max-width: 768px ) {
    display: block;
  }
}

.filter.block {

  @media ( max-width: 768px ) {
    margin-bottom: 0;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    z-index: 99;
  }
}

.filter-title strong {

  @media ( max-width: 768px ) {
    display: block;
    color: #333;
    position: absolute;
    float: left;
    top: inherit !important;
    bottom: inherit;
    margin-bottom: -37px;
  }
}

.filter-actions {

  @media ( max-width: 768px ) {
    margin: 0;
  }
}

.filter .filter-current {

  @media ( max-width: 768px ) {
    display: block !important;
  }
}

.filter .filter-current-subtitle {

  @media ( max-width: 768px ) {
    /* position: relative; */
    /* text-transform: uppercase; */
    /* z-index: 1; */
    display: none;
    display: block;
    /* text-decoration: none; */
  }
}

.toolbar select {
  background-color: #f0f0f0 !important;
  border: none;
  font-family: 'Gotham Medium';
  font-size: 1.2rem;
}

.sorter-action.action {
  color: #ebebeb;
}

.sorter-action:before {
  font-size: 22px;
  color: #333;
  vertical-align: middle;
  display: inline-block;
  width: 30px;
}


[data-value="asc"].sorter-action:before {
  content: "\f175";
}

.sorter .sorter-options {
  //width: 138px;

  @media ( max-width: 480px ) {
    width: 130px;
  }
}

select:focus:not([disabled]) {
  border: none;
}


.page-products .toolbar-products .sorter {
  margin-right: 12px;

  @media ( max-width: 768px ) {
    z-index: 9;
    position: relative;
    margin-right: 0;
  }
}

.toolbar-products .toolbar-amount {
  font-family: 'Gotham Medium';
  font-size: 1.2rem;
}

.products-grid .product-item .tocart {
  display: none;
  display: block;
}

.page-products .toolbar {
  transform: inherit !important;
}

.toolbar.toolbar-products {
  display: none;
  display: flex;

  @media(max-width: 768px) {
    justify-content: flex-end;
  }

  &:after {

    @media ( min-width: 769px ) {
      content: "";
      display: table;
      clear: both;
    }
  }
  
  @media ( min-width: 769px ) {
    display: flex;
    width: 73%;
    margin-top: 0;
    margin-bottom: 0;
    float: right;
    justify-content: flex-end;
  }

  .filter .block-subtitle {

    @media ( min-width: 769px ) {
      margin-bottom: 0;
      padding-bottom: 10px;
      text-transform: capitalize;
      font-weight: 500;
    }
  }

  .toolbar-amount {
    display: inline-block;
    padding-right: 10px;
    position: relative;
    bottom: -2px;

    @media ( max-width: 768px ) {
      bottom: -12px;
    }
  }

  #toolbar-amount + .filter.block {
    display: none;
    display: block;

    @media ( min-width: 769px ) {
      display: block;
      width: 100%;
      text-align: left;
      margin-bottom: 0;
    }
  }

  .filter-options-title:after {

    @media ( min-width: 769px ) {
      position: relative;
      right: 0;
      top: 9px;
      left: 6px;
    }
  }

  .filter-actions {

    @media ( min-width: 769px ) {
      padding-left: 0;
      margin-bottom: 10px;
    }
  }

  .filter .filter-subtitle {
    display: none;
    display: block;
  }

  .sorter {
    display: none;
    display: block;
  }

  .limiter {

    @media(max-width: 768px) {
      display: none;
    }

    display: block;
  }

  //.filter-options {
  //  display: none;
  //  display: block;
  //
  //  @media ( min-width: 769px ) {
  //    display: flex;
  //    position: absolute;
  //    width: 100%;
  //    flex-wrap: wrap;
  //  }
  //}

  //.filter-current .items {
  //
  //  @media ( min-width: 769px ) {
  //    padding-left: 0;
  //  }
  //}
  //
  //.filter-options-item {
  //
  //  @media ( min-width: 769px ) {
  //    flex-basis: 15%;
  //    position: relative;
  //  }
  //}
  //
  //.filter-options-content {
  //
  //  @media ( min-width: 769px ) {
  //    background-color: rgba(255, 255, 255, 0.8);
  //    box-shadow: rgba(0, 0, 0, .8) 0px 1px 1px 1px;
  //    text-align: center;
  //    position: absolute;
  //    width: 100%;
  //    z-index: 9;
  //    padding-left: 10px;
  //  }
  //}
  //
  //.filter-options-title {
  //
  //  @media ( min-width: 769px ) {
  //    text-align: left;
  //  }
  //}

  //.filter-options-title:after {
  //
  //  @media ( min-width: 769px ) {
  //    content: '\e622';
  //    top: 0px;
  //  }
  //}

  //.active > .filter-options-title:after {
  //
  //  @media ( min-width: 769px ) {
  //    content: '\e621';
  //  }
  //}

  .toolbar {

    @media ( min-width: 769px ) {
      text-align: left;
    }
  }
}



// New style block
#layered-filter-block {

  .block-content.filter-content {

    @media ( max-width: 768px ) {
      display: block;
    }
  }

  &.filter.active {

    .block-content.filter-content {
      display: block;
    }

    .block-subtitle {
      display: block;

      @media(max-width: 768px) {
        text-align: center;
      }
    }
  }

  .filter-current .items {

    @media ( min-width: 769px ) {
      padding-left: 0;
    }
  }

  .filter-options-item {

    @media ( min-width: 769px ) {
      flex-basis: 15%;
      position: relative;
    }
  }

  .filter-options-content {

    @media ( min-width: 769px ) {
      background-color: rgba(255, 255, 255, 0.8);
      box-shadow: rgba(0, 0, 0, .8) 0px 1px 1px 1px;
      text-align: center;
      position: absolute;
      width: 100%;
      z-index: 9;
      padding-left: 10px;
    }
  }

  .filter-options-title {

    @media ( min-width: 769px ) {
      text-align: left;
      display: inline-block;
      padding-right: 10px;
    }
  }

  .filter-options {
    display: none;
    display: block;

    @media ( min-width: 769px ) {
      display: flex;
      position: absolute;
      width: 100%;
      flex-wrap: wrap;
    }
  }

  .filter-options-title:after {

    @media ( min-width: 769px ) {
      content: '\e622';
      top: 0px;
    }
  }

  .active > .filter-options-title:after {

    @media ( min-width: 769px ) {
      content: '\e621';
    }
  }

}

.filter-options-title:after {
  position: relative;
  right: -10px;
}

.filter-options-content { display: none !important }







.category-title-custom {

  .toolbar {

    @media ( max-width: 768px ) {
      padding-bottom: 0;
      padding-top: 5px;
    }

    @media ( min-width: 769px ) {
      display: flex;
      position: relative;
      transform: translateY(50%);
      float: right;
      z-index: 2;
      justify-content: flex-end;
    }
  }
}

.modes {
  display: none !important;
}

.category-title-custom {

  .box {
    float: left;

    @media ( max-width: 768px ) {
      float: inherit;
      width: 100%;
      display: block;
    }
  }
}

#category-view-image {
  list-style: none;

  @media ( min-width: 769px ) {
    width: 47% !important;
    float: left;
    padding-left: 15px;
  }

  .image {

    @media ( min-width: 693px ) {
      max-height: 490px;
    }
  }
}


// Magebee filter items
.sidebar-main {

  #narrow-by-list {
    display: flex;

    @media(max-width: 768px) {
      display: none;
    }
  }
}

.filter.active {

  .filter-options-item {
    padding-bottom: 0;
    padding-left: 0;

    @media(max-width: 768px) {
      text-align: center;
    }
  }

  .filter-title {
    font-family: 'Gotham Medium';
    font-size: 1.4rem;
    border-bottom: none;
  }

  .filter-title strong {
    top: 0;
    float: right;
  }

  #narrow-by-list {
    @media(max-width: 768px) {
      display: block;
    }
  }

  .filter-options-title:after {

    @media(max-width: 768px) {
      position: absolute;
      right: 17px;
      top: 9px;
    }
  }
}

.filter-options-title {
  font-family: 'Gotham Medium';
  font-size: 1.4rem;
}

.filter-options-item li a {
  color: #333;

  &:hover {
    color: #333;
  }
}

.filter .filter-subtitle {
  font-family: 'Gotham Medium';
  font-size: 1.6rem;

  @media ( max-width: 768px ) {
    display: none;
  }
}

.filter-title strong {
  color: #333;
  position: relative;
  float: left;
  top: -7px;
}

.page-products .products + .toolbar {
  display: none;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

span#magebees_product_list_before + .toolbar {
  display: none;
  display: block;
}

div#layered-filter-block {

  @media ( min-width: 769px ) {
    //display: none;
  }
}

.ddFilter .filter-options-item .filter-options-title {


  @media ( min-width: 769px ) {
    border: none;
    background-color: inherit;
    color: #696969;
    font-size: 1.3rem;
    font-family: "Open Sans";

    &:focus {
      //border-right: 1px solid #ccc;
      //border-left: 1px solid #ccc;
      //border-top: 1px solid #ccc;
    }
  }
}

.ddFilter .filter-options-content {

  @media ( min-width: 769px ) {
    width: 100%;
    //display: none !important;
  }
}

.filter-options-content {
  //display: block !important;
}

[aria-hidden="true"] {
  display: none !important;
}

[aria-hidden="false"] {
  display: block !important;
}

.ddFilter .filter-options-item {

  @media ( min-width: 769px ) {
    margin: 0 10px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.filter .filter-current {
  border: none;
}

.products-grid .product-item .magebees_quickview {
  background-color: grey !important;
  display: none;
  display: block;
}

.products-grid .product-item-actions .actions-secondary {
  opacity: 1;
  transform: inherit;
}

.products-grid .product-item-inner {
  top: 10px;
  z-index: inherit;

}

.products-grid .product-item .tocompare {
  display: none;
  display: block;
}

.products-grid .product-item .towishlist {
  background-color: inherit;
  color: #1d1d1d;
  display: none;
  display: block;


  &:hover {
    background-color: inherit;
    color: #fff;
  }
}

div#layered-filter-block-top {

  @media ( min-width: 769px ) {
    margin-bottom: 40px;
  }
}

.sidebar-main .block-content.filter-content {

  @media ( min-width: 769px ) {
    width: 30%;
    font-size: 14px;
    font-family: "Open Sans";
    //border: 1px solid #dedede;
    padding: 10px;
    margin-left: -10px;
  }
}

.products-grid .product-item-info:hover .product-item-photo:before {
  opacity: 0;
  visibility: hidden;
  display: none;
  display: block;
}

#toolbar-amount + .filter.block {

  @media ( min-width: 769px ) {
    display: none;
    display: block;
  }
}

.products-grid .product-items {
  //padding-bottom: 0 !important;
  //margin-bottom: 0px;
  //
  //display: flex;
  //flex-wrap: wrap;
}

.admin__data-grid-outer-wrap {

  .block-compare .block-title,
  .block-reorder .block-title,
  .widget .block-title,
  .block-wishlist .block-title {
    text-align: center;
    font-family: 'Gotham Black';
    font-size: 2rem;
    font-weight: 700;
    border-top: 1px solid #ebebeb;
    padding-top: 10px;
  }

}

.page-layout-1column .products-grid .product-item,
.page-layout-2columns-left .products-grid .product-item,
.page-layout-2columns-right .products-grid .product-item,
.page-layout-3columns .products-grid .product-item {

  @media ( max-width: 768px ) {
    width: 49%;
  }
}

.catalog-category-view {
  .page-main .filter.block {
    margin-bottom: 70px;

    @media ( max-width: 768px ) {
      margin-bottom: 60px;
    }
  }

  .products-grid .product-items {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}

.catalog-category-view.page-products .columns {
  //width: 100%;
  //display: flex;
  //flex-direction: column-reverse;

}

.catalogsearch-result-index {

  #maincontent .products-grid .product-item {

    @media ( min-width: 769px ) {
      width: 25%;
      clear: inherit;
    }
  }

  .filter.block {

    @media ( max-width: 768px) {
      margin-bottom: 60px;
    }
  }

}
