.catalog-product-view {

  .detailed a > span {
    color: #000080 !important;
  }


  #tab-label-additional {
    display: none;
  }

  .main {
    margin-top: 30px;
  }

  .stock.unavailable span {
    font-size: 1.5rem;
  }

  .col.qty {
    display: inline-flex;
    position: relative;
    //top: 14px;

    &:before {
      //content: "Qty";
      font-family: "Gotham";
      padding-top: 11px !important;
      padding-right: 5px;
      font-weight: 500;

      @media ( min-width: 1950px ) {
        padding-top: 2px !important;;
      }
    }

    &:after {
      display: none;
    }
  }

  .gpp-qty-label {
    font-family: "Gotham";
    padding-top: 9px !important;
    padding-right: 5px;
    font-weight: 400;
  }

  strong.product-item-name a {
    text-transform: capitalize;
    font-family: "Gotham";
    font-size: 1.6rem;
  }

  .table.grouped > tbody > tr > td {
    border: none;
  }

  #maincontent {
    font-family: 'Gotham';
  }

  th.col.qty {
    float: right;
    position: relative;
    right: -58px;
  }

  .fotorama__stage__frame .fotorama__img {
    width: 100%;
    height: 100%;

    &:hover {
      cursor: pointer;
    }
  }

  .fotorama__nav-wrap .fotorama_vertical_ratio .fotorama__img {
    width: 99%;
    height: auto;
  }

  .fotorama__nav__frame.fotorama__nav__frame--dot {
    display: none;
  }

  select:focus:not([disabled]) {
    border: 1px solid #ccc;
  }

  .block-title.title {
    text-align: center;
    border-top: 1px solid #ebebeb;

    #block-s-heading {
      font-family: 'Gotham Black';
      display: block;
      font-size: 20px;
      font-weight: 700;
      border: none;
      padding: 0 0 10px;
      margin-bottom: 20px;
      text-transform: uppercase;
      position: relative;
    }
  }

  .fotorama {
    /* flex-basis: 100%; */
  }

  .fotorama__wrap {
    flex-direction: column;
    align-items: center;
    display: flex;

    @media ( min-width: 769px ) {
      flex-direction: row-reverse;
      align-items: initial;
      justify-content: space-evenly;
      overflow: hidden;
    }
  }

  .gallery-placeholder {
    //display: flex;
  }

  //.fotorama-item.fotorama {
  //  height: 350px;
  //}

  .fotorama__nav {
    white-space: inherit;

    @media ( min-width: 769px ) {

    }
  }

  .fotorama__nav.fotorama__nav--thumbs {
    width: 100% !important;
    overflow: visible;
    height: 100% !important;
    max-width: 484px !important;

    @media ( min-width: 769px ) {
      margin-top: -6px;
      margin-bottom: -6px;
    }
  }

  .fotorama__nav__frame.fotorama__nav__frame--thumb {
    display: inline-block;
    padding: 6px !important;

    @media ( max-width: 1949px ){
      height: 80px !important;
    }


    @media ( min-width: 1950px ) {
      height: 100px !important;
      width: 100px !important;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .fotorama__nav-wrap--vertical.fotorama__nav-wrap {
    position: inherit;
    width: 49%;

    @media ( min-width: 769px ) {
      width: 50%;
    }

    @media ( min-width: 1328px ) {
      padding-left: 28px;
    }
  }

  .fotorama__nav-wrap--vertical .fotorama__nav__shaft {
    transform: inherit !important;
  }


  .fotorama__stage {

    @media ( min-width: 640px )  {
      left: inherit !important;
      width: 100% !important;
    }

    @media ( min-width: 769px ) {
      //max-width: 425px !important;
      //margin: 0 auto;
      //margin-right: 145px;
      //width: 100% !important;
      //height: 350px !important;
    }
  }

  .fotorama__stage.fotorama__shadows--top:before, .fotorama__nav.fotorama__shadows--top:before {
    display: none;
  }

  .fotorama__thumb-border {
    display: none;
  }

  .fotorama__thumb {
    border: 1px solid #333;

    @media ( min-width: 769px ) {
      background-color: #fff;
      //transition: border 500ms;

      &:hover {
        //border: 1px solid #333;
        //transition: border 500ms;
      }
    }

  }

  .fotorama__thumb-border {
    border: none;
    background-image: none;

    @media ( min-width: 769px ) {

    }
  }

  .prices-tier {
    display: none;
  }

  .product.data.items {
    //border-bottom: 1px solid #ebebeb;
  }

  #bundleSummary {

    .actions {
      margin-bottom: 10px;

      @media ( min-width: 769px ) {

      }
    }

    .product-info-main .stock {
      margin: 10px 0 10px;
    }
  }

  legend#customizeTitle {
    display: none;
  }

  .fotorama__stage {
    border: 1px solid #333 !important;


    @media ( min-width: 769px ) {
      position: initial;
      max-width: 50%;
      max-height: 100% !important;
      height: auto !important;
      min-height: 350px !important;
    }
  }

  .product.data.items > .item.content {
    padding: 0 20px 35px;
    margin-top: 0;
  }

  [aria-labelledby="tab-label-product.info.description"] {
    max-width: 800px;
    margin: 0 10px !important;
  }

  .product-info-main .box-tocart .actions {
    margin-bottom: -11px;
  }

  input.swatch-input.super-attribute-select {
    display: none;
  }

  #additional {
    //padding-left: 60px;
    margin-top: 0;

    @media ( min-width: 769px ) {
      padding-left: 30px;
    }
  }

  #product.info.description {
    max-width: 800px;
    margin: 0 auto;
  }


  .page-main {
    padding-top: 0;
  }

  .category-title-custom {
    display: none;
  }

  .main > .container {
    margin: 0  !important;
    background-color: #fff;
    max-width: 1400px;
    padding-top: 0;
    padding-bottom: 10px;
    display: block !important;

    @media ( min-width: 769px ) {
      display: flex !important;
      margin: 0  auto !important;


      // Test Code
      //display: block !important;
      margin: 0;
      //float: left;
      //width: 48%;
    }
  }

  .product.media {
    padding-right: 0;
    padding-top: 0;
    //margin-right: 45px;
    width: 100%;

    @media ( min-width: 769px ) {
      flex-basis: 100%;
    }
  }

  .product-info-main {
    background-color: #fff;
    width: 100% !important;

    .box-tocart {
      padding-left: 10px;
    }

    @media ( max-width: 769px ) {
      padding: 0 !important;
    }

    @media ( min-width: 769px ) {
      padding-top: 0;
      flex-basis: 66%;
    }
  }

  .product.info.detailed {
    background-image: inherit;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 30px;

    .product.data.items {
      padding: 38px 0 15px;
    }


    &:after {
      display: none;
    }

    > .container {
      padding-left: 0;
      padding-right: 0;
    }

    @media ( max-width: 769px ) {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  .admin__data-grid-outer-wrap {

    +  .container {
      max-width: 1400px;
      display: block !important;
    }
  }

  .product-info-main {

    .product-add-form {
      border: inherit;
      margin-top: 0;
      padding-top: 0;
    }

    .box-tocart {

      .action.tocart {
        background-color: #fa141b;
        color: #fff;
        transition: background-color 500ms;

        &:hover {
          background-color: #333;
          transition: background-color 500ms;
        }
      }

      .field.qty {

        .label {

        }
      }

    }

  }

  .price-from {

    &:after {
      display: none;
    }
  }

  .action.primary {
    background: #333;
    border: 1px solid #333;
    min-width: 128px;

    &:hover {
      background: #404040;
    }
  }

  .bundle-options-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0;

    @media ( min-width: 769px ) {
      clear: inherit;

      //position: absolute;
      //right: 0;
      //clear: inherit;
      //top: 0;
      //background-color: #fff;
    }

    &:after {
      content: "";
      clear: both;
      display: table;
    }
  }

  .box-tocart {

    .control {
      position: relative;
      text-align: center;
    }
  }

  .bundle-info {

    .product-image-container {
      padding: 0;
      margin: 0;
      display: none;
    }

    .product-details {

      .product.name {
        display: none;
      }

      .stock {
        display: none;
      }

    }

    p.available.stock {
      margin: 12px 0 10px;
    }
  }

  .products-grid .product-item {
    margin-bottom: 0;
  }

  strong.product.name.product-item-name {
    margin-left: 0 !important;
  }
}

.style-first-word {
  display: block;
}

.admin__data-grid-outer-wrap {

  .block.widget.block-viewed-products-grid {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .block-compare .block-title strong:before, .block-reorder .block-title strong:before, .block-wishlist .block-title strong:before, .widget .block-title strong:before {
    display: none;
  }

  a.product-item-link {
    display: none;
  }
}

.checkout-index-index {

  div.header-banner {
    padding-top: 13px;
    background: #fff;
  }


  .page-header {

    .container {
      float: left;
    }

    .header-top {
      float: right;
    }
  }
}

.product.data.items {
  > .item.title.active > .switch {
    color: #333;

  }

  > .item.content {
    border: none;
    margin-left: inherit;
    float: inherit;

    &[aria-hidden="true"] {
      display: none !important;
    }

    &[aria-hidden="flase"] {
      display: block !important;
    }
  }



  > .item.title {
    display: block;
    text-align: left;
    padding: 40px 30px 20px;
    border-top: 1px solid #ebebeb;

    @media ( min-width: 769px ) {
      border-top: 1px solid #ebebeb;
    }


    > .switch {
      display: block;
      text-transform: capitalize;
      color: #333;
      border: none;
      font-weight: 400;

      &:before {
        display: inline-block;
        content: "";
        position: relative;
        left: 0;
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid #9f9f9f;
        bottom: 0;
        left: -16px;
      }
    }


    &:before {
      display: none;
    }
  }
}

.product.data.items>.item.title>.switch:before {
  display: inline-block !important;
  transform: rotate(270deg);
  bottom: -4px !important;
}

.product.data.items .item.title a:after {

  @media ( max-width: 768px ) {
    display: none;
  }
}

.products-grid .product-item-actions .actions-primary .stock {
  background-color: #333;
}

.review-form .action.submit.primary:hover {
  background-color: #333;
  border-color: #333;
}

.block.upsell, .block.related {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  position: relative;

  @media ( min-width: 1950px ) {
    max-width: 1800px;
  }

  .title {
    text-align: center;
    margin-bottom: 50px;
    padding-top: 10px;

    @media ( min-width: 769px ) {
      border-top: 1px solid #ebebeb;
    }

    strong {
      font-family: 'Gotham Black';
      font-size: 2rem;
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  .owl-stage {
    display: flex;
    overflow: hidden;
  }

  .owl-item {
    //width: 100% !important;
  }

  .product-item {
    //width: 50%;
    //width: 100%;
  }


  .owl-stage-outer {
    overflow: hidden;
  }

  .products-grid .product-items {
    position: inherit;
  }

  .product-image-container {
    //width: 100% !important;
  }

  .owl-prev {
    float: left;
    background: transparent !important;
    color: transparent !important;

    &:after {
      content: '';
      border-bottom: 6px solid;
      border-left: 6px solid;
      transform: rotate(45deg);
      left: 0;
      width: 48px;
      height: 48px;
      border-color: #000;
      position: absolute;
      top: 50%;
      transition: border-color 500ms;
      cursor: pointer;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
  }

  .owl-next {
    float: right;
    background: transparent !important;
    color: transparent !important;

    &:after {
      content: '';
      border-bottom: 6px solid;
      border-left: 6px solid;
      transform: rotate(-135deg);
      right: 0;
      width: 48px;
      height: 48px;
      border-color: #000;
      position: absolute;
      top: 50%;
      transition: border-color 500ms;
      cursor: pointer;

      &:hover {
        cursor: pointer;
      }
    }
  }

}

.block.upsell {

  .product-image-photo {
    width: auto;
  }

  .product-item:nth-child(3n+1) {
    display: block !important;
  }

  li.item.product.product-item {
    width: 100%;
  }
}

.admin__data-grid-outer-wrap .widget .block-title {

  @media ( max-width: 768px ) {
    border: none;
    border-top: 1px solid #ebebeb !important;
  }
}

.product-info-main .product-options-wrapper .field.configurable > .control:after {
  background: #333;
  pointer-events: none;
}

.product-info-main .page-title-wrapper .page-title {
  font-weight: 400;
  font-family: "Gotham";
  padding-left: 10px;
  text-transform: capitalize;

  @media ( max-width: 768px) {
    font-size: 2.2rem !important;
    padding-top: 16px !important;
  }
}

.product-info-main .product-options-wrapper .field.configurable select {

  &:hover {
    cursor: pointer;
  }
}

// Feature Products
.feature-product-section {
  padding: 60px 20px;

  .block-title {
    text-align: center;

    strong {
      font-family: 'Gotham Black';
      font-size: 4rem;

      &:before {
        display: none;
      }
    }
  }

  .block.widget.block-products-list.grid {
    max-width: 1600px;
    margin: 0 auto;
  }

  .product-image-photo {

    @media ( min-width: 769px ) {
      //min-height: 370px;
    }
  }

  .block.widget .product-item-info {
    margn-bottom: 30px;
  }
}

.cms-home {

  .products-grid .product-item:nth-child(3n+1) {
    clear: inherit !important;
  }

  .products-grid .product-item:nth-child(4n+1) {
    clear: inherit;
  }

  .products-grid .product-item {

    @media ( min-width: 769px ) {
      width: 20%;
    }
  }

  .product-image-container {
    width: 100% !important;
  }
}

.product.info.detailed .additional-attributes > tbody > tr > th {
  font-weight: 500;
}


// Hidden Bundle
.bundle-options-container .product-add-form {
  display: block !important;
}

.bundle-options-container .bundle-options-wrapper {
  float: inherit;
  width: 100%;
}

.bundle-options-container .block-bundle-summary {
  width: 100%;
  float: inherit;
  position: inherit;
  background: #fff;
  padding: 20px 0 0;
}

.bundle-actions,

.action.back.customization {
  display: none
}

.bundle-options-container .block-bundle-summary .box-tocart .action.primary {
  line-height: 1rem;
}

.price-to {
  display: initial !important;
}

bundle-options-container .bundle-options-wrapper, .bundle-options-container .product-options-wrapper {
  float: inherit;
  width: 100%;
}

.product-info-main .product-options-wrapper .field.configurable {
  padding-top: 14px;
}

.bundle-options-container .block-bundle-summary > .title > strong,
.bundle-options-container .block-bundle-summary .bundle-summary {
  display: none;
}

.price-final_price {

  .minimal-price {

    > .price-final_price {

      .price {

        &:before {
          content: "Our Price:";
          color: #333;
          font-size: 1.6rem;
          margin-right: 5px;
        }
      }
    }
  }

  .old-price {

    .price {

      &:before {
        content: "List Price:";
        color: #333;
        font-size: 1.6rem;
        margin-right: 5px;
      }
    }
  }
}


.price-final_price {

  .price-from {

    .price {

      &:before {
        content: "List Price:";
        color: #333;
        font-size: 1.6rem;
        margin-right: 5px;
      }
    }
  }

  .price-to {

    .price {

      &:before {
        content: "Our Price:";
        color: #333;
        font-size: 1.6rem;
        margin-right: 5px;
      }
    }
  }

}

.product-options-bottom .price-box .price-container .price, .product-info-price .price-box .price-container .price {
  font-size: 1.8rem;
  font-weight: 500;
}

.price-from, .price-to {
  margin-bottom: 2px;
}

.products-grid .product-item-details {
  text-align: center;
}

.products-grid .product-item .price-box {
  width: 100%;
  text-align: center;
}

#super-product-table {

  thead {
    display: none;
  }

  .bss-gpo-img {
    display: none;
  }

  //td.col.item {
  //  .price-box.price-final_price {
  //    display: none;
  //  }
  //}

  .bss-gpo-configurable-info.fieldset {
    margin-bottom: 0;
  }
}

.product-info-main .product-options-wrapper .field.configurable {
  margin-bottom: 6px;
  margin-right: 6px;
}

.products-grid .product-item-actions .actions-primary {
  display: inline-block;
  float: inherit;
}

th.col.item {
  display: none;
}

.table-wrapper {
  position: relative;

  tr.row-tier-price {

    @media ( max-width: 480px ) {
      display: none !important;
    }
  }

  .swatch-attribute .swatch-attribute-options .swatch-option {
    margin-bottom: 0;
  }

  table {
    border-collapse: initial;
  }

  .price-box.price-final_price {
    display: inline;

    .price:first-child {
      font-size: 1.4rem;
      font-family: "Source Sans Pro", 'Helvetica Neue', Helvetica, Arial, sans-serif;
      color: #ff5353;

      @media ( min-width: 1950px ) {
        font-size: 1.9rem;
      }
    }
  }

  .noshow .price-box.price-final_price .price {
    color: #3c3c3c;
  }
}


.hide {
  display: none !important;
}

.page-product-configurable {

  .product-info-main .box-tocart .actions {
    margin-bottom: 10px;
  }

  .product-options-wrapper {

    .fieldset {
      padding-left: 10px;
    }
  }

  .fotorama__stage__frame .fotorama__img {
    width: initial;
  }

  .product-info-main {
    align-self: flex-start;


    //@media ( min-width: 769px ) {
    //  margin-left: -20.6vw;
    //}
    //
    //@media ( min-width: 1200px ) {
    //  margin-left: -300px;
    //}
  }

  .fotorama__stage {


    @media ( min-width: 769px ) {
      height: 450px !important;
      width: 40% !important;
    }
  }

  .product-info-price .price-box .price-container > span {

  }

  .product-info-price .price-box .price-container {
    display: inline-flex;
    line-height: 20px;
  }

  .our-price-text {

    &:before {
      content: "Our Price:";
      margin-right: 0;
      position: relative;
      top: 1px;
      font-size: 1.6rem;
      margin-right: 0;
    }
  }

  .list-price-container-label {
    margin-right: 0;
  }

  .fotorama__stage__frame {
    .fotorama__img--full {
      display: none !important;
    }

    .fotorama__img {
      display: block !important;
    }
  }

  .fotorama--fullscreen {

    .fotorama__img {
      display: none !important;
    }

    .fotorama__img--full {
      display: block !important;
    }
  }


  .product-info-price .price-box .price-container > span {
    display: inline;
  }

  span.list-price-container-label {
    font-family: "Source Sans Pro", 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }

  span.list-price-text.price-container {
    //margin-top: -6px;
  }

  span.list-price-container span {
    font-family: "Source Sans Pro", 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300 !important;
  }

}

.review-add {

  .block-title {

    strong {
      font-weight: 400;
      text-transform: capitalize;
      font-family: "Gotham";
    }
  }
}

.review-form .field .label {
  font-weight: 400;
  text-transform: capitalize;
  font-family: "Gotham";
}

.fieldset .review-legend.legend {
  font-family: "Gotham";
  font-weight: 400;
}


.first-price.price-box {
  display: inline-flex !important;
  font-family: "Gotham";
  font-weight: 400;
  color: #ff5353;
  margin-bottom: 0;

  .our-price-text {

    &:before {
      content: "Our Price:";
      margin-right: 0;
      position: relative;
      top: 1px;
      font-size: 1.6rem;
    }
  }

  .list-price-container-label {
    font-size: 1.6rem !important;
    margin-right: 2px;
  }

  span {
    font-size: 2rem !important;
  }
}

.product-info-main .stock.available, .product-info-main .stock.unavailable {
  font-family: "Gotham";
  font-weight: 400;
  margin-bottom: 10px;
}

.product-info-main .product-info-price {
  margin-bottom: 0;
  padding-left: 10px;
}

.product-item-name + .bss-gpo-child-product-info {
  margin-top: -21px;
}

.swatch-opt .swatch-attribute-label {
  text-transform: capitalize;
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "Gotham";
}

.product-info-main .product-options-wrapper .field.configurable > label {
  font-size: 1.8rem;
  font-weight: 400;
  font-family: "Gotham";
  text-transform: capitalize;
}

.btn-copy {
  background-color: #fa141b !important;
  color: #fff;
  transition: background-color 500ms, border 500ms;
  border: 1px solid #fa141b !important;
  margin-top: 25px;
  width: 100%;
  max-width: 135px;
  text-transform: uppercase;

  &:hover {
    background-color: #333 !important;
    border: 1px solid #333 !important;
    transition: background-color 500ms, border 500ms;
  }
}

p.message-text {
  margin-top: 35px;
  margin-bottom: 0;
  font-family: "Gotham";
  color: red;
  display: none;
}

.point-down {
  transform: rotate(0deg);
}

.product.data.items > .item.title.active .switch:before {
  transform: rotate(0deg);
}

.page-product-grouped {

  .swatch-attribute .swatch-attribute-options .swatch-option.image.selected,
  .swatch-attribute .swatch-attribute-options .swatch-option.image:hover {
    outline: 2px solid red;
  }

  tr.row-tier-price {
    display: none;
  }

  .product-info-main .product-info-price .price-box:first-child {
    display: none;
  }

  .swatch-attribute-selected-option {
    padding-left: 4px;
    font-size: .9rem;

    @media ( min-width: 1950px ) {
      font-size: 1.2rem;
    }
  }

  .product-info-main {

    @media ( min-width: 1950px ) {
      flex-basis: 100%;
    }

    .page-title-wrapper {

      .page-title {

        @media ( min-width: 1950px ) {
          font-size: 2.8rem;
        }
      }
    }

    .stock.available {

      @media ( min-width: 1950px ) {
        font-size: 1.8rem;
      }

      &:before {
        margin-right: 0;
      }
    }

  }

  // Remove this once we get group product page working
  .first-qty {
    left: 146px !important;
    top: 106px !important;
    padding-top: 0 !important;

    @media ( min-width: 769px ) {
      top: 97px !important;
    }

    @media ( min-width: 1950px ) {
      top: 94px !important;
    }
  }

  .product-info-main .box-tocart .action.tocart {
    visibility: hidden;
  }

  .swatch-attribute .swatch-attribute-options {
    display: flex;
    margin-top: 0;
  }

  .fotorama__stage {

    @media ( min-width: 769px ) {
      height: 446px !important;
    }

    @media ( min-width: 1950px ) {
      height: 547px !important;
    }
  }

  .table-wrapper .table:not(.totals):not(.cart):not(.table-comparison) tbody > tr > td:last-child {

    @media ( max-width: 480px ) {
      text-align: left !important;
    }

    @media( max-width: 639px ) {
      border: none;
      padding-bottom: 0;
      display: flex !important;
    }
  }

  .product.info.detailed .product.data.items {

    @media ( max-width: 480px ) {
      margin-bottom: 6px;
    }

    @media( max-width: 768px ) {
      padding-top: 0 !important;
    }
  }

  .table-wrapper .table:not(.totals):not(.cart):not(.table-comparison) > tbody > tr {
    //display: none;
  }

  .fotorama__nav__frame.fotorama__nav__frame--thumb {

    @media ( max-width: 480px ) {
      height: 45px !important;
      width: 45px !important;
    }
  }
}

.catalog-product-view:not(.page-product-grouped) {

  .fotorama__nav-wrap--vertical.fotorama__nav-wrap,
  .fotorama__nav-wrap.fotorama__nav-wrap--horizontal {
    display: none !important; // Remove the image carousel if it isn't a group product page
  }

  .product-info-main .product-info-price .price-box {
    display: inline-flex !important;
    font-family: "Gotham";
    font-weight: 400;
  }

  .product-info-main {
    align-self: flex-start;
    background: transparent;
    z-index: 10;


    @media ( min-width: 769px ) and ( max-width: 1133px) {
      margin-left: -6.6vw;
    }

    @media ( min-width: 1134px ) and ( max-width: 1259px) {
      margin-left: -20vw;
    }

    @media ( min-width: 1262px ) {
      margin-left: -34vw;
    }

    @media ( min-width: 2000px ) {
      margin-left: -600px;
    }
  }

  .fotorama__stage {


    @media ( min-width: 769px ) {
      height: 400px !important;
      width: 65% !important;
      max-width: 100%;
    }
  }

  .product-info-main .box-tocart .actions {
    margin-bottom: 10px;
  }

  .fotorama {

    @media ( min-width: 769px) {
      max-width: 675px;
    }

    &.fotorama--fullscreen {
      max-width: 100%;
      background: rgba(0, 0, 0, .8);

      .fotorama__wrap {
        position: relative;
        top: 50%;
        transform: translateY(-50%)
      }

      .fotorama__stage {
        width: 90% !important;
        height: 90vh !important;
        background: #fff;
      }
    }
  }

  .product.info.detailed > .container {

    @media ( min-width: 769px) {
      max-width: 1136px;
    }
  }

  .product.data.items>.item.title {

    @media ( min-width: 769px) {
      padding: 40px 0 20px;
    }
  }

  .product.data.items > .item.title > .switch:before {
    left: -21px;
  }

  .fotorama__stage__frame .fotorama__img {

    @media ( min-width: 769px)  {
      height: auto !important;
    }
  }

  .product-info-main .product-info-stock-sku {
    margin-bottom: 10px;
  }

  .fotorama__wrap {

    @media ( min-width: 769px ) {
      flex-direction: inherit;
    }
  }
}

// Tablet Styles
.catalog-product-view.page-product-grouped {

  .page.messages.container {

    @media ( min-width: 1950px ) {
      max-width: 1909px;
    }
  }

  .product-info-main .product-add-form {
    position: relative;
  }

  div#validation-message-box {
    position: absolute;
    top: 0;
    left: 160px;
  }

  div.mage-error[generated] {
    width: 100%;
    margin-top: 1px;
  }

  .table-wrapper .table:not(.totals):not(.cart):not(.table-comparison)>tbody>tr td:before,
  .table-wrapper .table:not(.totals):not(.cart):not(.table-comparison)>tbody>tr th:before {

    @media ( max-width: 639px ) {
      display: none;
    }
  }

  .product-info-main {

    @media ( min-width: 1080px ) {
      flex-basis: 73%;
    }

  }

  tbody.noshow {
    margin-bottom: 10px;

    @media ( max-width: 480px ) {
      margin-bottom: 0 !important;
    }

    @media ( min-width: 1950px ) {
      margin-bottom: 10px;
    }
  }

  //.noshow  {
  //
  //  .swatch-attribute-label {
  //    display: none !important;
  //  }
  //
  //  .swatch-opt {
  //    display: none;
  //  }
  //}


  .noshow {

    .our-price-text {

      &:before {
        display: none;
      }
    }
  }

  div#validation-message-box {
    padding-left: 10px;
  }

  .swatch-attribute .swatch-attribute-options .swatch-option {
    background-size: auto !important;
    height: 45px !important;
    min-width: 45px !important;
  }

  .fotorama__wrap {

    @media ( min-width: 770px) and ( max-width: 1258px ) {
      flex-direction: column;
      align-items: center;
      display: flex;
      margin-bottom: 16px;
    }

  }

  .fotorama__stage {

    @media ( min-width: 770px) and ( max-width: 1258px ) {
      height: 350px !important;
      margin-bottom: 16px;
    }
  }

  .fotorama__stage__frame .fotorama__img {

    @media ( min-width: 770px) and ( max-width: 1258px ) {
      //height: 350px !important;
    }
  }

  .fotorama__nav-wrap--vertical.fotorama__nav-wrap {
    width: 100%;
  }

  .fotorama__stage.fotorama__shadows--bottom:after, .fotorama__nav.fotorama__shadows--bottom:after {
    display: none;
  }

  .fotorama--fullscreen {
    background: rgba(0,0,0, .8);

    .fotorama__wrap {
      top: 50%;
      transform: translateY(-50%);
      height: 90%;
      width: 90%;
      background: #fff;
      margin: 0 auto;
    }

    .fotorama__stage {

      @media ( max-width: 768px ) {
        border: none !important;
        border-bottom: 1px solid #333 !important;
      }


      @media ( min-width: 1259px ) {
        height: 100vh !important;
        border: none !important;
        border-left: 1px solid #333 !important;
      }
    }

    .fotorama__wrap {
      @media ( min-width: 1259px ) {
        align-items: center;
      }
    }

    .fotorama__nav-wrap.fotorama__nav-wrap--horizontal {

      @media ( max-width: 768px ) {
        display: none !important;
      }
    }
  }

  [data-th="Product Name"] {
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
  }

  .product-info-main .page-title-wrapper .page-title {
    margin-bottom: 0;

    @media ( max-width: 768px ) {
      padding-top: 0 !important;
      margin-top: -8px;
    }
  }

  .table-wrapper .price-box.price-final_price {
    line-height: 1;
    margin-bottom: 8px;

    @media ( max-width: 768px ) {
      line-height: 20px;
    }


    @media ( min-width: 1950px ) {
      margin-bottom: 7px;
    }
  }

  [attribute-code="color"] span {
    font-size: 1.3rem !important;

    @media ( min-width: 1950px ) {
      font-size: 1.6rem !important;
    }
  }

  .bss-gpo-configurable-info .swatch-attribute-label {
    font-size: 0.9rem;
    text-transform: capitalize;
    margin-bottom: 5px;
    display: inline-block;
  }

  .first-price.price-box span {

    @media ( max-width: 768px ) {
      vertical-align: middle;
    }
  }

  .product-options-wrapper .swatch-opt>.swatch-attribute {
    line-height: 9px;
  }

  .swatch-opt>.swatch-attribute {

    @media ( max-width: 480px ) {
      width: 100%;
      min-width: 242px;
    }
  }

  .swatch-attribute .swatch-attribute-options {

    @media ( max-width: 768px ) {
      margin-top: 4px;
      //flex-wrap: wrap;
    }
  }

  .first-qty {

    @media ( max-width: 480px ) {
      position: absolute;
      top: 95px;
      right: 0;
      max-width: 74px;
    }

    @media( max-width: 639px ) {
      position: absolute;
      top: 95px;
      right: 0;
    }
  }

  .product-info-main .box-tocart .action.tocart {
    visibility: visible;
    width: 100%;
    padding: 0 24px;

    @media ( min-width: 1950px ) {
      font-size: 1.4rem;
    }

  }

  .product.data.items>.item.title {

    @media ( max-width: 768px ) {
      padding-top: 10px;
      padding-bottom: 5px;
    }
  }

  .table-wrapper {
    margin-bottom: 3px;

    @media ( max-width: 768px ) {

    }
  }

  .admin__data-grid-outer-wrap .widget .block-title {

    @media ( max-width: 768px ) {
      border-top: none !important;
      padding-top: 0;
      margin-bottom: 5px;
    }

    strong {

      @media ( max-width: 768px ) {
        margin-bottom: 5px;
      }
    }
  }

  .block.upsell li.item.product.product-item {

    @media ( max-width: 480px ) {
      width: 100% !important;
    }
  }

  .block.upsell .title {

    @media ( max-width: 768px ) {
      margin-bottom: 5px;
    }

    strong {

      @media ( max-width: 768px ) {
        margin-bottom: 5px;
      }
    }
  }

  .column.main {

    @media ( max-width: 768px ) {
      margin-top: 0 !important;
    }
  }

  .product-info-main .product-add-form {

    @media ( max-width: 768px ) {
      margin-bottom: 0 !important;
    }
  }



  .table-wrapper .table:not(.totals):not(.cart):not(.table-comparison) tbody > tr > td:first-child {

    @media ( max-width: 768px ) {
      padding-top: 4px;
      padding-bottom: 0;
    }

    @media( max-width: 639px ) {
      display: table-cell;
    }
  }

  .swatch-opt {
    margin: 0 !important;
  }

  .btn-copy {
    margin-top: 8px;
  }

  .product-item-name {
    font-size: 1.4rem;
    text-transform: capitalize;
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
    margin-left: 102px;
    line-height: 40px;

    @media ( min-width: 769px ) {

    }

    @media ( min-width: 1950px ) {
      font-size: 1.9rem;
      margin-left: 100px;
    }
  }

  .upsell .product-item-name,
  .block-viewed-products-grid .product-item-name {
    margin-left: 0;
    line-height: 20px;
  }

  .qty .control {
    position: relative;
  }

  child-product-info {
    padding-top: 3px;
  }

  .product-info-main .product-options-wrapper .field.configurable > label {
    font-size: 1.1rem;
    margin-bottom: 1px;
    display: none;

    @media ( min-width: 1950px ) {
      font-size: 1.7rem;
    }
  }

  td.col.qty {
    padding-top: 0;
    position: absolute;
    left: 0;
    top: 0;
  }

  .control.qty {

    @media ( max-width: 1949px) {
      font-size: 1.4rem;
    }

    @media ( min-width: 1950px ) {
      font-size: 1.8rem;
    }
  }


  .swatch-attribute-selected-option {
    padding-left: 4px;
    font-size: .9rem;
  }

  .noshow .product-options-wrapper {

    .bss-gpo-configurable-info.fieldset {
      display: block;
      padding-top: 5px;


      @media ( min-width: 640px ) {
        display: flex;
      }

      @media ( min-width: 769px ) and ( max-width: 1281px) {
        flex-wrap: wrap;
      }
    }
  }

  .product-info-main .product-options-wrapper .field.configurable {

    @media ( min-width: 769px ) {
      flex-basis: 42%;
    }
  }

  tbody.noshow {
    position: relative;
    display: block;
    border: none !important;

    .disable-div {
      position: absolute;
      top:0;
      left:0;
      width: 100%;
      height:100%;
      z-index:2;
      opacity:0.4;
    }
  }

  .fotorama__stage {

    @media ( min-width: 769px ) and ( max-width: 1000px) {
      max-width: 76%;
    }
  }

  .product.attribute.overview {
    display: none
  }

  .product-info-main .product-options-wrapper .field.configurable select {
    width: 100%;
    height: 24px;
    font-size: 1.1rem;

    @media (min-width: 1260px) {
      width: 90px;
    }

    @media ( min-width: 1950px ) {
      width: 115px;
      height: 35px;
      font-size: 1.6rem;
    }
  }

  .product-info-main .product-options-wrapper .field.configurable {
    padding-top: 0;

    @media ( max-width: 480px ) {
      display: inline-block;
      margin-right: 4px;
      width: 48%;
    }
  }

  .product-info-main .product-options-wrapper .field.configurable > .control:after {
    height: 0px !important;
    width: 30px;
    line-height: 24px;
    right: 0;
    background: transparent;
    color: #000;
    text-shadow: none;

    @media ( min-width: 769px ) {
      right: -2px;
    }

    @media ( min-width: 1950px ) {
      height: 36px;
      line-height: 36px;
    }
  }

  .main > .container {

    @media ( min-width: 1950px ) {
      max-width: 2050px;
    }
  }

  .table.grouped .control .qty {
    width: 55px !important;
    height: 40px;
    padding: 0 14px;


    @media ( min-width: 1951px ) {
      height: 40px;
    }
  }

  .action-number .btn-number {
    top: 1px;

    @media ( min-width: 1950px ) {
      top: 0px;
    }
  }

  .action-number .btn-minus {
    left: 0px;
    width: 17px;
  }

  .action-number .btn-plus {
    right: 0px;
    width: 17px;
  }

  p.message-text {
    display: block;
    margin-top: 13px;
    margin-bottom: 7px;
    font-size: 1.3rem;

    @media ( min-width: 1951px ) {
      font-size: 2rem;
    }
  }

  .product.data.items>.item.content {
    padding: 40px 62px 35px;
    padding-top: 0;

    @media ( max-width: 768px ) {
      padding-top: 0;
      padding-bottom: 10px;
    }
  }

  .first-qty.list-price-is-showing {
    top: 128px !important;

    @media ( min-width: 769px ) {
      top: 117px !important;
    }

    @media ( min-width: 1950px ) {
      top: 114px !important;
    }

  }

  .list-price-text {
    text-decoration: line-through;
    color: #949393;
    vertical-align: middle;

    .list-price-container-label {
      color: #949393 !important;
      font-size: 1.4rem !important;
      font-weight: 300;
      font-family: "Source Sans Pro", 'Helvetica Neue', Helvetica, Arial, sans-serif;
      margin-right: 0;

    }

    .list-price-container span {
      color: #949393 !important;
      font-size: 1.6rem !important;
      font-weight: 300;
      position: relative;
      top: 0;
    }

  }

  .product.media .fotorama__thumb__arr--left,
  .product.media .fotorama__thumb__arr--right {
    display: none !important;
  }

  .fotorama__arr {
    display: none !important;
  }
}

.product-info-price .price-box .old-price {
  display: inherit !important;
}

.product-info-main .stock.available {
  margin-bottom: 0;
}

#mini-cart {

  .product-item-name {
    margin-left: 0 !important;
  }
}

.block-viewed-products-grid  {

  .price-box {
    margin-bottom: 40px !important;
  }

  .product-item-actions {
    display: none !important;
  }

}

.towishlist {
  display: none !important;
}

.catalog-product-view {
  .product-info-price .price-box .price-container {
    display: inherit !important;
  }
}




